# DATA PROCESSING

# Импорт необходимых модумей

In [2]:
import re
import os
import logging
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime
from dateutil.relativedelta import relativedelta

# Загрузка данных

In [3]:
# Настройка логирования для отслеживания выполнения кода
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

# Устанавливание рабочей директории
os.chdir("source/")

# Отображать все столбцы
pd.set_option('display.max_columns', None)

# Отображать все строки
pd.set_option('display.max_rows', None)

In [4]:
# Загрузка данных из Excel
# data_loan = pd.read_excel("full_data.xlsx", sheet_name='ListPI1.csv')
# data_app = pd.read_excel("full_data.xlsx", sheet_name='ListP1.csv')
# data_beh = pd.read_excel("full_data.xlsx", sheet_name='ListB1.csv')

In [5]:
# Загрузка данных из CSV файлов
data_app = pd.read_csv('ListPI1.csv')
data_loan = pd.read_csv('ListP1.csv')
data_beh = pd.read_csv('ListB1.csv')

C:\Users\F_Jumaev\AppData\Local\Temp\ipykernel_14768\501409823.py:2: DtypeWarning: Columns (17,18,25,26,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  data_app = pd.read_csv('ListPI1.csv')
C:\Users\F_Jumaev\AppData\Local\Temp\ipykernel_14768\501409823.py:4: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  data_beh = pd.read_csv('ListB1.csv')

# Объединение данных по Account ID

In [6]:
logging.info("Объединение данных по 'Account ID'.")
res = data_loan.merge(data_app, on="Account ID", how="left", suffixes=('_loan', '_app'))
res = res.merge(data_beh, on="Account ID", how="left", suffixes=('', '_beh'))

2024-12-05 15:36:17,716 - INFO - Объединение данных по 'Account ID'.

# Преобразование названий столбцов в snake_case

In [7]:
logging.info("Просмотр название столбцов до преобразования")
for i, column in enumerate(res.columns.to_list()):
    print(f"{i} <=> {column}")

2024-12-05 15:36:19,371 - INFO - Просмотр название столбцов до преобразования

0 <=> Customer ID_loan
1 <=> Application ID_loan
2 <=> Account ID
3 <=> Branch ID
4 <=> Product ID
5 <=> Application date
6 <=> Date loan granted
7 <=> Loan Amount
8 <=> First instalment due date
9 <=> Interest rate
10 <=> Collateral type
11 <=> Value of collateral
12 <=> Property type/Collateral type
13 <=> Salary payment in bank account
14 <=> Loan type
15 <=> # of instalments
16 <=> Instalment amount/Min instalment amount
17 <=> Customer ID_app
18 <=> Application ID_app
19 <=> Date of birth
20 <=> Gender
21 <=> City of Living
22 <=> Region of living
23 <=> City of registration
24 <=> Region of registration
25 <=> Work phone number
26 <=> Mobile phone number
27 <=> Education
28 <=> Marital status
29 <=> # Dependants
30 <=> # Children
31 <=> # months at current address
32 <=> Employment type
33 <=> Employment sector
34 <=> Employment segment
35 <=> # months at job
36 <=> Net main income
37 <=> Source of main income
38 <=> Additional income
39 <=> Source of additional income
40 <=> Reported expenses
41 <=> Months with bank
42 <=> Current exposure
43 <=> Client type
44 <=> Property object
45 <=> Наличие Эсхата онлайн
46 <=> Наличие пластиковых карт
47 <=> Наличие депозита
48 <=> Состояние
49 <=> Причина отказа
50 <=> Run Date
51 <=> Customer ID
52 <=> Date account opened
53 <=> Current balance
54 <=> Date last payment
55 <=> Date final payment
56 <=> Due date
57 <=> Payment amount
58 <=> Account status
59 <=> # of payments in arrears
60 <=> кумулятивная просрочка
61 <=> Amount due – Instalment
62 <=> Principal amount
63 <=> Interest accrued
64 <=> Outstanding balance
65 <=> Arrears amount
66 <=> Current days past due
67 <=> Maximum days past due
68 <=> Maximum days past due lifetime
69 <=> Default flag
70 <=> Кол-во пролонгации
71 <=> Рейтинг БКИ
72 <=> Количество кредитов  в БКИ (заемщик)
73 <=> FTD-1
74 <=> FTD-2
75 <=> FTD-3
76 <=> FTD-4

In [8]:
# Функция для преобразования названий столбцов в snake_case
def to_snake_case(column_name):
    return column_name.lower().replace('.', '_').replace('#', 'number').replace(' ', '_')

logging.info("Преобразование названий столбцов в snake_case.")

res.columns = [to_snake_case(col) for col in res.columns]

2024-12-05 15:36:19,395 - INFO - Преобразование названий столбцов в snake_case.

In [9]:
logging.info("Просмотр название столбцов после преобразования")
for i, column in enumerate(res.columns.to_list()):
    print(f"{i} <=> {column}")

2024-12-05 15:36:19,426 - INFO - Просмотр название столбцов после преобразования

0 <=> customer_id_loan
1 <=> application_id_loan
2 <=> account_id
3 <=> branch_id
4 <=> product_id
5 <=> application_date
6 <=> date_loan_granted
7 <=> loan_amount
8 <=> first_instalment_due_date
9 <=> interest_rate
10 <=> collateral_type
11 <=> value_of_collateral
12 <=> property_type/collateral_type
13 <=> salary_payment_in_bank_account
14 <=> loan_type
15 <=> number_of_instalments
16 <=> instalment_amount/min_instalment_amount
17 <=> customer_id_app
18 <=> application_id_app
19 <=> date_of_birth
20 <=> gender
21 <=> city_of_living
22 <=> region_of_living
23 <=> city_of_registration
24 <=> region_of_registration
25 <=> work_phone_number
26 <=> mobile_phone_number
27 <=> education
28 <=> marital_status
29 <=> number_dependants
30 <=> number_children
31 <=> number_months_at_current_address
32 <=> employment_type
33 <=> employment_sector
34 <=> employment_segment
35 <=> number_months_at_job
36 <=> net_main_income
37 <=> source_of_main_income
38 <=> additional_income
39 <=> source_of_additional_income
40 <=> reported_expenses
41 <=> months_with_bank
42 <=> current_exposure
43 <=> client_type_
44 <=> property_object
45 <=> наличие_эсхата_онлайн
46 <=> наличие_пластиковых_карт
47 <=> наличие_депозита
48 <=> состояние
49 <=> причина_отказа
50 <=> run_date
51 <=> customer_id
52 <=> date_account_opened
53 <=> current_balance
54 <=> date_last_payment
55 <=> date_final_payment
56 <=> due_date
57 <=> payment_amount
58 <=> account_status
59 <=> number_of_payments_in_arrears
60 <=> кумулятивная_просрочка
61 <=> amount_due_–_instalment
62 <=> principal_amount
63 <=> interest_accrued
64 <=> outstanding_balance
65 <=> arrears_amount
66 <=> current_days_past_due
67 <=> maximum_days_past_due
68 <=> maximum_days_past_due_lifetime
69 <=> default_flag
70 <=> кол-во_пролонгации
71 <=> рейтинг_бки
72 <=> количество_кредитов__в_бки_(заемщик)
73 <=> ftd-1
74 <=> ftd-2
75 <=> ftd-3
76 <=> ftd-4

# Удаление дублириющих переменных

In [10]:
res = res.drop(['application_id_app', 'customer_id_app', 'customer_id'], axis=1)
res = res.rename(columns={
    'customer_id_loan': 'customer_id',
    'application_id_loan': 'application_id'
})

# Переименование столбцов с русскими именами на английские

In [11]:
logging.info("Просмотр название столбцов после переименования")
res.head(2)

2024-12-05 15:36:20,163 - INFO - Просмотр название столбцов после переименования

,customer_id,application_id,account_id,branch_id,product_id,application_date,date_loan_granted,loan_amount,first_instalment_due_date,interest_rate,collateral_type,value_of_collateral,property_type/collateral_type,salary_payment_in_bank_account,loan_type,number_of_instalments,instalment_amount/min_instalment_amount,date_of_birth,gender,city_of_living,region_of_living,city_of_registration,region_of_registration,work_phone_number,mobile_phone_number,education,marital_status,number_dependants,number_children,number_months_at_current_address,employment_type,employment_sector,employment_segment,number_months_at_job,net_main_income,source_of_main_income,additional_income,source_of_additional_income,reported_expenses,months_with_bank,current_exposure,client_type_,property_object,наличие_эсхата_онлайн,наличие_пластиковых_карт,наличие_депозита,состояние,причина_отказа,run_date,date_account_opened,current_balance,date_last_payment,date_final_payment,due_date,payment_amount,account_status,number_of_payments_in_arrears,кумулятивная_просрочка,amount_due_–_instalment,principal_amount,interest_accrued,outstanding_balance,arrears_amount,current_days_past_due,maximum_days_past_due,maximum_days_past_due_lifetime,default_flag,кол-во_пролонгации,рейтинг_бки,количество_кредитов__в_бки_(заемщик),ftd-1,ftd-2,ftd-3,ftd-4
0,25121517058,764446/КР,35619143897,"ФИЛИАЛИ ЧСК ""БОНКИ ЭСХАТА"" ДАР Ш.ДУШАНБЕ",Карзхои гуногунмаксад,2021-10-19,2021-11-02,12300.0,2021-12-02,31.0,NaN,NaN,NaN,Нет,Многоцелевые кредиты_005_аннуитет,18,863.0,1998-01-07 00:00:00,Женский,нохияи Фирдавси,Душанбе,Фирдавси,Душанбе,992000805085,NaN,Высшее,Не замужем,0,2,0,Имеет другой источник дохода,NaN,NaN,0,3121.36,Прочее,NaN,NaN,1272.0,36,0.0,0,Квартира,Да,Да,0.0,NaN,NaN,2023-06-30,2021-11-02,0.0,NaN,2023-04-20,NaN,NaN,Закрыт,NaN,0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN,0,NaN,0,0,0,0,0
1,847140141,766801/КР,35733163635,"ФИЛИАЛИ ЧСК ""БОНКИ ЭСХАТА"" ДАР Ш.ИСТАРАВШАН",Карзхои гуногунмаксад,2021-10-25,2021-11-01,20000.0,2021-12-01,30.0,1) Поручитель;,1) 0;,1) Поручитель;,Нет,Многоцелевые кредиты_005_аннуитет,24,1118.0,1969-05-16 00:00:00,Мужской,Истаравшан,Вилояти Сугд,Истаравшан,Вилояти Сугд,992985675558,NaN,Среднее,Женат,2,2,6,Собственный бизнес,Самозанятость,Услуги транспорта,276,3800.00,Прочее,NaN,NaN,1500.0,143,4691.17,1,Дом,Нет,Нет,0.0,NaN,NaN,2023-06-30,2021-11-01,0.0,2023-04-26,2023-10-26,2023-06-01,1118.0,Закрыт,NaN,0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN,0,NaN,5,0,0,0,0

In [12]:
rename_columns = {
    'наличие_эсхата_онлайн': 'eskhata_online',
    'наличие_пластиковых_карт': 'plastic_cards',
    'наличие_депозита': 'deposit',
    'кумулятивная_просрочка': 'cumulative_delinquency',
    'рейтинг_бки': 'bki_rating',
    'количество_кредитов__в_бки_(заемщик)': 'bki_number_of_loans',
    'состояние': 'state',
    'причина_отказа': 'rejection_reason',
    'кол-во_пролонгации': 'number_of_extensions'
    
}
logging.info("Переименование столбцов с русскими именами на английские.")
res.rename(columns=rename_columns, inplace=True)

2024-12-05 15:36:20,273 - INFO - Переименование столбцов с русскими именами на английские.

# Переименование столбцов для удобства

In [13]:
rename_columns = {
    'client_type_': 'client_type',
    'number_dependants':'dependants',
    'number_months_at_current_address':'months_at_current_address',
    'number_months_at_job':'months_at_job',
    'property_type/collateral_type': 'property_type',
    'instalment_amount/min_instalment_amount': 'instalment_amount',
    'amount_due_–_instalment': 'amount_due',
    'maximum_days_past_due': 'max_days_past_due',
    'maximum_days_past_due_lifetime': 'max_days_past_due_lifetime',
    'ftd-1': 'ftd_1',
    'ftd-2': 'ftd_2',
    'ftd-3': 'ftd_3',
    'ftd-4': 'ftd_4'
}

logging.info("Переименование столбцов")
res.rename(columns=rename_columns, inplace=True)

2024-12-05 15:36:20,292 - INFO - Переименование столбцов

In [14]:
logging.info("Просмотр название столбцов после переименования")
res.head(2)

2024-12-05 15:36:20,332 - INFO - Просмотр название столбцов после переименования

,customer_id,application_id,account_id,branch_id,product_id,application_date,date_loan_granted,loan_amount,first_instalment_due_date,interest_rate,collateral_type,value_of_collateral,property_type,salary_payment_in_bank_account,loan_type,number_of_instalments,instalment_amount,date_of_birth,gender,city_of_living,region_of_living,city_of_registration,region_of_registration,work_phone_number,mobile_phone_number,education,marital_status,dependants,number_children,months_at_current_address,employment_type,employment_sector,employment_segment,months_at_job,net_main_income,source_of_main_income,additional_income,source_of_additional_income,reported_expenses,months_with_bank,current_exposure,client_type,property_object,eskhata_online,plastic_cards,deposit,state,rejection_reason,run_date,date_account_opened,current_balance,date_last_payment,date_final_payment,due_date,payment_amount,account_status,number_of_payments_in_arrears,cumulative_delinquency,amount_due,principal_amount,interest_accrued,outstanding_balance,arrears_amount,current_days_past_due,max_days_past_due,max_days_past_due_lifetime,default_flag,number_of_extensions,bki_rating,bki_number_of_loans,ftd_1,ftd_2,ftd_3,ftd_4
0,25121517058,764446/КР,35619143897,"ФИЛИАЛИ ЧСК ""БОНКИ ЭСХАТА"" ДАР Ш.ДУШАНБЕ",Карзхои гуногунмаксад,2021-10-19,2021-11-02,12300.0,2021-12-02,31.0,NaN,NaN,NaN,Нет,Многоцелевые кредиты_005_аннуитет,18,863.0,1998-01-07 00:00:00,Женский,нохияи Фирдавси,Душанбе,Фирдавси,Душанбе,992000805085,NaN,Высшее,Не замужем,0,2,0,Имеет другой источник дохода,NaN,NaN,0,3121.36,Прочее,NaN,NaN,1272.0,36,0.0,0,Квартира,Да,Да,0.0,NaN,NaN,2023-06-30,2021-11-02,0.0,NaN,2023-04-20,NaN,NaN,Закрыт,NaN,0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN,0,NaN,0,0,0,0,0
1,847140141,766801/КР,35733163635,"ФИЛИАЛИ ЧСК ""БОНКИ ЭСХАТА"" ДАР Ш.ИСТАРАВШАН",Карзхои гуногунмаксад,2021-10-25,2021-11-01,20000.0,2021-12-01,30.0,1) Поручитель;,1) 0;,1) Поручитель;,Нет,Многоцелевые кредиты_005_аннуитет,24,1118.0,1969-05-16 00:00:00,Мужской,Истаравшан,Вилояти Сугд,Истаравшан,Вилояти Сугд,992985675558,NaN,Среднее,Женат,2,2,6,Собственный бизнес,Самозанятость,Услуги транспорта,276,3800.00,Прочее,NaN,NaN,1500.0,143,4691.17,1,Дом,Нет,Нет,0.0,NaN,NaN,2023-06-30,2021-11-01,0.0,2023-04-26,2023-10-26,2023-06-01,1118.0,Закрыт,NaN,0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN,0,NaN,5,0,0,0,0

# Подсчет количества дубликатов (не включая первую строку)

In [15]:
logging.info("Проверка дублирующихся строк по account_id")
display(res.duplicated(subset='account_id').sum())


logging.info("Проверка дублирующихся строк по customer_id")
display(res.duplicated(subset='customer_id').sum())


logging.info("Подсчет количества дубликатов по application_id")
display(res.duplicated(subset='application_id').sum())

2024-12-05 15:36:20,435 - INFO - Проверка дублирующихся строк по account_id

0

2024-12-05 15:36:20,449 - INFO - Проверка дублирующихся строк по customer_id

60704

2024-12-05 15:36:20,466 - INFO - Подсчет количества дубликатов по application_id

0

# Удаление дубликатов

In [16]:
# # Удаление дубликатов по account_id
# logging.info("Удаление дубликатов по account_id.")
# res.drop_duplicates(subset='account_id', keep='first', inplace=True)


# # Удаление дубликатов по application_id
# logging.info("Удаление дубликатов по application_id.")
# res.drop_duplicates(subset='application_id', keep='first', inplace=True)


# # Удаление дубликатов по customer_id
# logging.info("Удаление дубликатов по customer_id.")
# res.drop_duplicates(subset='customer_id_loan', keep='first', inplace=True)

In [17]:
# Создание копии датафрейма для дальнейшей обработки
df = res.copy()

# Преобразование необходимых столбцов в числовые значения

In [18]:
numeric_columns = [
    'net_main_income', 'additional_income', 'months_with_bank',
    'reported_expenses', 'deposit', 'current_exposure'
]
missing_numeric = [col for col in numeric_columns if col not in df.columns]
if missing_numeric:
    logging.warning(f"Отсутствуют следующие числовые столбцы: {missing_numeric}")
    

logging.info("Просмотр столбцов с числами")
display(df[numeric_columns].head())

logging.info("Просмотр типа столбцов с числами до преобразования")
display(df[numeric_columns].dtypes)

2024-12-05 15:36:20,666 - INFO - Просмотр столбцов с числами

,net_main_income,additional_income,months_with_bank,reported_expenses,deposit,current_exposure
0,3121.36,NaN,36,1272.0,0.0,0.0
1,3800.00,NaN,143,1500.0,0.0,4691.17
2,3500.00,NaN,61,1000.0,0.0,4301.47
3,2400.00,NaN,60,1000.0,0.0,1153.52
4,5700.00,NaN,20,3001.0,0.0,4938.37

2024-12-05 15:36:20,714 - INFO - Просмотр типа столбцов с числами до преобразования

net_main_income      float64
additional_income    float64
months_with_bank      object
reported_expenses    float64
deposit               object
current_exposure      object
dtype: object

In [19]:
existing_numeric_columns = [col for col in numeric_columns if col in df.columns]
logging.info("Преобразование числовых столбцов в числовые значения.")
df[existing_numeric_columns] = df[existing_numeric_columns].apply(pd.to_numeric, errors='coerce')

2024-12-05 15:36:20,771 - INFO - Преобразование числовых столбцов в числовые значения.

In [20]:
logging.info("Просмотр типа столбцов с числами после преобразования")
display(df[numeric_columns].dtypes)

2024-12-05 15:36:21,582 - INFO - Просмотр типа столбцов с числами после преобразования

net_main_income      float64
additional_income    float64
months_with_bank       int64
reported_expenses    float64
deposit              float64
current_exposure     float64
dtype: object

# Преобразование столбцов с датами в формат datetime

In [21]:
date_columns = [
    'application_date', 'date_of_birth', 'date_loan_granted', 'first_instalment_due_date',
    'date_last_payment', 'date_final_payment', 'due_date', 'date_account_opened'
]

logging.info("Просмотр столбцов с датами")
display(df[date_columns].head())

logging.info("Просмотр типа столбцов с датами до преобразования")
display(df[date_columns].dtypes)

2024-12-05 15:36:21,686 - INFO - Просмотр столбцов с датами

,application_date,date_of_birth,date_loan_granted,first_instalment_due_date,date_last_payment,date_final_payment,due_date,date_account_opened
0,2021-10-19,1998-01-07 00:00:00,2021-11-02,2021-12-02,NaN,2023-04-20,NaN,2021-11-02
1,2021-10-25,1969-05-16 00:00:00,2021-11-01,2021-12-01,2023-04-26,2023-10-26,2023-06-01,2021-11-01
2,2021-10-25,1991-03-02 00:00:00,2021-11-05,2021-12-06,2023-04-03,2023-10-26,2023-06-05,2021-11-05
3,2021-10-25,1966-10-23 00:00:00,2021-11-03,2021-12-03,2022-09-12,2022-10-26,NaN,2021-11-03
4,2021-10-26,2001-06-07 00:00:00,2021-11-03,2021-12-03,2022-04-27,2022-04-27,NaN,2021-11-03

2024-12-05 15:36:21,749 - INFO - Просмотр типа столбцов с датами до преобразования

application_date             object
date_of_birth                object
date_loan_granted            object
first_instalment_due_date    object
date_last_payment            object
date_final_payment           object
due_date                     object
date_account_opened          object
dtype: object

In [22]:
logging.info("Преобразование столбцов с датами в формат datetime.")
for col in date_columns:
    if col in df.columns:
        df[col] = pd.to_datetime(df[col], errors='coerce')

2024-12-05 15:36:21,823 - INFO - Преобразование столбцов с датами в формат datetime.

In [23]:
logging.info("Просмотр типа столбцов с датами после преобразования")
display(df[date_columns].dtypes)

2024-12-05 15:36:23,562 - INFO - Просмотр типа столбцов с датами после преобразования

application_date             datetime64[ns]
date_of_birth                datetime64[ns]
date_loan_granted            datetime64[ns]
first_instalment_due_date    datetime64[ns]
date_last_payment            datetime64[ns]
date_final_payment           datetime64[ns]
due_date                     datetime64[ns]
date_account_opened          datetime64[ns]
dtype: object

# Вычисление возраста и исправление неправилных значений

In [24]:
logging.info("Вычисление возраста.")
df['age'] = df['application_date'].dt.year - df['date_of_birth'].dt.year

2024-12-05 15:36:23,616 - INFO - Вычисление возраста.

In [25]:
logging.info("Подсчет количество возрастов меньше 18 до корректировки")
display(df.query('age < 18').age.count())

2024-12-05 15:36:23,714 - INFO - Подсчет количество возрастов меньше 18 до корректировки

4

In [26]:
logging.info("Корректировка неправилных возрастов")

# Корректировка возраста, если месяц или день рождения еще не наступили в году заявки (но такие были исправлены вручную)
df.loc[
    (df['application_date'].dt.month < df['date_of_birth'].dt.month) |
    ((df['application_date'].dt.month == df['date_of_birth'].dt.month) &
     (df['application_date'].dt.day < df['date_of_birth'].dt.day)),
    'age'
] -= 1

# Исправление некоторых возрастов (которые были проверены и исправлены вручную)
df.loc[df['age'] == 17, 'age'] = 18
df.loc[df['age'] == 0, 'age'] = 27
df.loc[df['age'] == -1, 'age'] = 33
df['age'] = df['age'].fillna(df['age'].mean())

# Удаление отрицательных возрастов, если они остались
df['age'] = df['age'].where(df['age'] >= 0, np.nan)

# Приведение возраста к целочисленному типу
df.age = np.floor(df.age).astype(np.int64)

2024-12-05 15:36:23,821 - INFO - Корректировка неправилных возрастов

In [27]:
logging.info("Подсчет количество возрастов меньше 18 после корректировки")
display(df.query('age < 18').age.count())

2024-12-05 15:36:24,162 - INFO - Подсчет количество возрастов меньше 18 после корректировки

0

# Создание столбцов необходимых для дальнейших вычисленый

In [28]:
# Создание столбца месяц/год выдачи кредита как год * 100 + месяц
logging.info("Создание столбца год/месяц выдачи кредита как год.")
df['loan_month'] = df['application_date'].dt.year * 100 + df['application_date'].dt.month

# Признак совпадения города проживания и регистрации
logging.info("Создание признака совпадения города проживания и регистрации.")
df['city_of_living_eq_registration'] = (df['city_of_living'] == df['city_of_registration']).astype(int)

# Признак наличия залога
logging.info("Создание признака наличия залога.")
df['is_collateral'] = df['deposit'].notna().astype(int)

2024-12-05 15:36:24,350 - INFO - Создание столбца год/месяц выдачи кредита как год.
2024-12-05 15:36:24,451 - INFO - Создание признака совпадения города проживания и регистрации.
2024-12-05 15:36:24,505 - INFO - Создание признака наличия залога.

In [29]:
new_tables = [
    'age',
    'loan_month',
    'city_of_living_eq_registration',
    'is_collateral'
]

logging.info("Просмотр новых таблиц")
display(df[new_tables].head(5))
display(df[new_tables].dtypes)

2024-12-05 15:36:24,527 - INFO - Просмотр новых таблиц

   age  loan_month  city_of_living_eq_registration  is_collateral
0   23      202110                               0              1
1   52      202110                               1              1
2   30      202110                               1              1
3   55      202110                               0              1
4   20      202110                               1              1

age                               int64
loan_month                        int64
city_of_living_eq_registration    int32
is_collateral                     int32
dtype: object

# Создание временного датафрейма для анализа предыдущих заявок

In [30]:
logging.info("Создание временного DataFrame для анализа предыдущих заявок.")
temp_df = df.copy()

# Сортировка по customer_id и application_date для корректного сдвига
logging.info("Сортировка по 'customer_id' и 'application_date'.")
temp_df = temp_df.sort_values(['customer_id', 'application_date'])

# Добавление предыдущей даты заявки и предыдущей максимальной просрочки
logging.info("Добавление предыдущей даты заявки и предыдущей максимальной просрочки.")
temp_df['prev_application_date'] = temp_df.groupby('customer_id')['application_date'].shift(1)
temp_df['prev_max_days_past_due'] = temp_df.groupby('customer_id')['max_days_past_due_lifetime'].shift(1)


# Убираем записи без предыдущих заявок
logging.info("Удаление записей без предыдущих заявок.")
temp_df = temp_df.dropna(subset=['prev_application_date'])

2024-12-05 15:36:24,617 - INFO - Создание временного DataFrame для анализа предыдущих заявок.
2024-12-05 15:36:24,698 - INFO - Сортировка по 'customer_id' и 'application_date'.
2024-12-05 15:36:25,337 - INFO - Добавление предыдущей даты заявки и предыдущей максимальной просрочки.
2024-12-05 15:36:25,436 - INFO - Удаление записей без предыдущих заявок.

# Подсчет количества предыдущих заявок и максимальной просрочки

In [31]:
logging.info("Группировка по 'account_id' для подсчета количества предыдущих заявок и максимальной просрочки.")
acc_numb_before = temp_df.groupby('account_id').agg(
    cnt=('customer_id', 'count'),
    max_max_days_past_due=('prev_max_days_past_due', 'max')
).reset_index()

logging.info("Пример данных после группировки:")
print("\nacc_numb_before.head():")
print(acc_numb_before.head())

logging.info("Добавление флага существующего клиента.")
acc_numb_before['existing_client'] = np.where(acc_numb_before['cnt'] > 1, 1, 0)

2024-12-05 15:36:25,644 - INFO - Группировка по 'account_id' для подсчета количества предыдущих заявок и максимальной просрочки.
2024-12-05 15:36:25,682 - INFO - Пример данных после группировки:
2024-12-05 15:36:25,690 - INFO - Добавление флага существующего клиента.

acc_numb_before.head():
    account_id  cnt  max_max_days_past_due
0  36002196446    1                    4.0
1  36003105046    1                   17.0
2  36031268759    1                    0.0
3  36054772668    1                    3.0
4  36060574691    1                    0.0

In [32]:
# Объединение с основным датафреймом
logging.info("Объединение 'acc_numb_before' с основным DataFrame.")
df = df.merge(
    acc_numb_before[['account_id', 'cnt', 'max_max_days_past_due']], 
    on='account_id', 
    how='left'
)

2024-12-05 15:36:25,711 - INFO - Объединение 'acc_numb_before' с основным DataFrame.

In [33]:
# Проверка наличия столбца cnt после объединения
logging.info("Проверка наличия столбца cnt после объединения.")
print("\nСтолбцы после объединения acc_numb_before:")
for column in df.columns.tolist():
    print(column)

2024-12-05 15:36:26,530 - INFO - Проверка наличия столбца cnt после объединения.

Столбцы после объединения acc_numb_before:
customer_id
application_id
account_id
branch_id
product_id
application_date
date_loan_granted
loan_amount
first_instalment_due_date
interest_rate
collateral_type
value_of_collateral
property_type
salary_payment_in_bank_account
loan_type
number_of_instalments
instalment_amount
date_of_birth
gender
city_of_living
region_of_living
city_of_registration
region_of_registration
work_phone_number
mobile_phone_number
education
marital_status
dependants
number_children
months_at_current_address
employment_type
employment_sector
employment_segment
months_at_job
net_main_income
source_of_main_income
additional_income
source_of_additional_income
reported_expenses
months_with_bank
current_exposure
client_type
property_object
eskhata_online
plastic_cards
deposit
state
rejection_reason
run_date
date_account_opened
current_balance
date_last_payment
date_final_payment
due_date
payment_amount
account_status
number_of_payments_in_arrears
cumulative_delinquency
amount_due
principal_amount
interest_accrued
outstanding_balance
arrears_amount
current_days_past_due
max_days_past_due
max_days_past_due_lifetime
default_flag
number_of_extensions
bki_rating
bki_number_of_loans
ftd_1
ftd_2
ftd_3
ftd_4
age
loan_month
city_of_living_eq_registration
is_collateral
cnt
max_max_days_past_due

In [34]:
if 'cnt' not in df.columns:
    logging.error("Столбец 'cnt' отсутствует в DataFrame после объединения. Проверьте корректность группировки и объединения.")
    raise KeyError("Столбец 'cnt' отсутствует в DataFrame после объединения.")
else:
    # Заполнение пропусков в previous_loans_count нулями
    logging.info("Заполнение пропусков в 'previous_loans_count' нулями.")
    df['previous_loans_count'] = df['cnt'].fillna(0).astype(int)
    
    # Создание бинарных признаков для просроченности
    logging.info("Создание бинарных признаков для просроченности.")
    df.loc[:, 'gb_90ever'] = (df['max_days_past_due_lifetime'] >= 90).astype(int)
    df.loc[:, 'gb_cum_dlq_90'] = (df['cumulative_delinquency'] >= 90).astype(int)
    df.loc[:, 'gb_60ever'] = (df['max_days_past_due_lifetime'] >= 60).astype(int)
    
    # Удаление временных столбцов
#     logging.info("Удаление временных столбцов 'cnt' и 'max_max_days_past_due'.")
#     df.drop(['cnt', 'max_max_days_past_due'], axis=1, inplace=True)

2024-12-05 15:36:26,553 - INFO - Заполнение пропусков в 'previous_loans_count' нулями.
2024-12-05 15:36:26,561 - INFO - Создание бинарных признаков для просроченности.

# Преобразование строковых переменных в категориальные

In [35]:
logging.info("Преобразование строковых переменных в категориальные.")
object_columns = df.select_dtypes(include=['object']).columns
df[object_columns] = df[object_columns].astype('category')

2024-12-05 15:36:26,596 - INFO - Преобразование строковых переменных в категориальные.

# Структура датафрейма после преобразований

In [36]:
logging.info("Просмотр структуры датафрейма после преобразований.")
print(df.info())

2024-12-05 15:36:31,483 - INFO - Просмотр структуры датафрейма после преобразований.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 235698 entries, 0 to 235697
Data columns (total 84 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   customer_id                     235698 non-null  int64
 1   application_id                  235698 non-null  category
 2   account_id                      235698 non-null  int64
 3   branch_id                       235698 non-null  category
 4   product_id                      235698 non-null  category
 5   application_date                235698 non-null  datetime64[ns]
 6   date_loan_granted               235698 non-null  datetime64[ns]
 7   loan_amount                     235698 non-null  float64
 8   first_instalment_due_date       235688 non-null  datetime64[ns]
 9   interest_rate                   235698 non-null  float64
 10  collateral_type                 26477 non-null   category
 11  value_of_collateral             26477 non-null   category
 12  property_type                   26477 non-null   category
 13  salary_payment_in_bank_account  235698 non-null  category
 14  loan_type                       235698 non-null  category
 15  number_of_instalments           235698 non-null  int64
 16  instalment_amount               234490 non-null  float64
 17  date_of_birth                   235697 non-null  datetime64[ns]
 18  gender                          235698 non-null  category
 19  city_of_living                  235698 non-null  category
 20  region_of_living                235698 non-null  category
 21  city_of_registration            235698 non-null  category
 22  region_of_registration          235698 non-null  category
 23  work_phone_number               225416 non-null  category
 24  mobile_phone_number             14542 non-null   category
 25  education                       223507 non-null  category
 26  marital_status                  235423 non-null  category
 27  dependants                      235698 non-null  int64
 28  number_children                 235698 non-null  int64
 29  months_at_current_address       235698 non-null  int64
 30  employment_type                 235405 non-null  category
 31  employment_sector               148291 non-null  category
 32  employment_segment              148133 non-null  category
 33  months_at_job                   235698 non-null  int64
 34  net_main_income                 235662 non-null  float64
 35  source_of_main_income           234634 non-null  category
 36  additional_income               52926 non-null   float64
 37  source_of_additional_income     52496 non-null   category
 38  reported_expenses               235690 non-null  float64
 39  months_with_bank                235698 non-null  int64
 40  current_exposure                235672 non-null  float64
 41  client_type                     235698 non-null  int64
 42  property_object                 235684 non-null  category
 43  eskhata_online                  235698 non-null  category
 44  plastic_cards                   235698 non-null  category
 45  deposit                         235698 non-null  float64
 46  state                           0 non-null       category
 47  rejection_reason                0 non-null       category
 48  run_date                        235698 non-null  category
 49  date_account_opened             235698 non-null  datetime64[ns]
 50  current_balance                 235698 non-null  float64
 51  date_last_payment               224178 non-null  datetime64[ns]
 52  date_final_payment              235698 non-null  datetime64[ns]
 53  due_date                        187783 non-null  datetime64[ns]
 54  payment_amount                  187783 non-null  float64
 55  account_status                  235698 non-null  category
 56  number_of_payments_in_arrears   11872 non-null   float64
 57  cumulative_delinquency          235698 non-null  int64
 58  amount_due                      235698 non-null  float64
 59  principal_amount                235698 non-null  float64
 60  interest_accrued                235698 non-null  float64
 61  outstanding_balance             235698 non-null  float64
 62  arrears_amount                  235698 non-null  float64
 63  current_days_past_due           235698 non-null  int64
 64  max_days_past_due               235698 non-null  int64
 65  max_days_past_due_lifetime      235698 non-null  int64
 66  default_flag                    1682 non-null    category
 67  number_of_extensions            235698 non-null  int64
 68  bki_rating                      87382 non-null   category
 69  bki_number_of_loans             235698 non-null  int64
 70  ftd_1                           235698 non-null  int64
 71  ftd_2                           235698 non-null  int64
 72  ftd_3                           235698 non-null  int64
 73  ftd_4                           235698 non-null  int64
 74  age                             235698 non-null  int64
 75  loan_month                      235698 non-null  int64
 76  city_of_living_eq_registration  235698 non-null  int32
 77  is_collateral                   235698 non-null  int32
 78  cnt                             60704 non-null   float64
 79  max_max_days_past_due           60704 non-null   float64
 80  previous_loans_count            235698 non-null  int32
 81  gb_90ever                       235698 non-null  int32
 82  gb_cum_dlq_90                   235698 non-null  int32
 83  gb_60ever                       235698 non-null  int32
dtypes: category(31), datetime64[ns](8), float64(18), int32(6), int64(21)
memory usage: 116.6 MB
None

In [ ]:
df

In [65]:
df.isnull().sum()[df.isnull().sum() > 0]

first_instalment_due_date            10
collateral_type                  209221
value_of_collateral              209221
property_type                    209221
instalment_amount                  1208
date_of_birth                         1
work_phone_number                 10282
mobile_phone_number              221156
education                         12191
marital_status                      275
employment_type                     293
employment_sector                 87407
employment_segment                87565
net_main_income                      36
source_of_main_income              1064
additional_income                182772
source_of_additional_income      183202
reported_expenses                     8
current_exposure                     26
property_object                      14
state                            235698
rejection_reason                 235698
date_last_payment                 11520
due_date                          47915
payment_amount                    47915
number_of_payments_in_arrears    223826
default_flag                     234016
bki_rating                       148316
cnt                              174994
max_max_days_past_due            174994
dtype: int64

In [88]:
# Вычисляем количество пропущенных значений в каждом столбце
missing_values = df.isnull().sum()
columns_with_missing = missing_values[missing_values > 0]
columns_with_missing

first_instalment_due_date            10
instalment_amount                  1208
date_of_birth                         1
net_main_income                      36
additional_income                182772
reported_expenses                     8
current_exposure                     26
state                            235698
rejection_reason                 235698
date_last_payment                 11520
due_date                          47915
payment_amount                    47915
number_of_payments_in_arrears    223826
cnt                              174994
max_max_days_past_due            174994
dtype: int64

In [71]:
# 1. Удаление столбцов с полностью отсутствующими значениями
columns_with_zero_nonnull = df.columns[df.isnull().all()].tolist()
print(f"Удаление столбцов с 0 ненулевых значений: {columns_with_zero_nonnull}")
df_cleaned = df.drop(columns=columns_with_zero_nonnull)
print(f"Размер DataFrame после удаления столбцов с 0 ненулевых значений: {df_cleaned.shape}\n")

Удаление столбцов с 0 ненулевых значений: ['state', 'rejection_reason']
Размер DataFrame после удаления столбцов с 0 ненулевых значений: (235698, 82)

In [72]:
# 2. Анализ пропущенных значений
missing_percent = df_cleaned.isnull().mean() * 100
print("Процент пропущенных значений по столбцам (после удаления полностью пустых столбцов):")
print(missing_percent.sort_values(ascending=False).head(20))  # Вывод первых 20 столбцов с наибольшим процентом пропусков
print("\n")

Процент пропущенных значений по столбцам (после удаления полностью пустых столбцов):
number_of_payments_in_arrears    94.963046
additional_income                77.544994
max_max_days_past_due            74.245008
cnt                              74.245008
due_date                         20.328980
payment_amount                   20.328980
date_last_payment                 4.887610
instalment_amount                 0.512520
net_main_income                   0.015274
current_exposure                  0.011031
first_instalment_due_date         0.004243
reported_expenses                 0.003394
date_of_birth                     0.000424
amount_due                        0.000000
cumulative_delinquency            0.000000
principal_amount                  0.000000
interest_accrued                  0.000000
customer_id                       0.000000
account_status                    0.000000
arrears_amount                    0.000000
dtype: float64

In [73]:
# 3. Определение типов столбцов
numeric_columns = df_cleaned.select_dtypes(include=['int64', 'int32', 'float64']).columns.tolist()
categorical_columns = df_cleaned.select_dtypes(include=['category', 'object']).columns.tolist()
datetime_columns = df_cleaned.select_dtypes(include=['datetime64[ns]']).columns.tolist()

print(f"Числовые столбцы: {numeric_columns}\n")
print(f"Категориальные столбцы: {categorical_columns}\n")
print(f"Временные столбцы: {datetime_columns}\n")

Числовые столбцы: ['customer_id', 'account_id', 'loan_amount', 'interest_rate', 'number_of_instalments', 'instalment_amount', 'dependants', 'number_children', 'months_at_current_address', 'months_at_job', 'net_main_income', 'additional_income', 'reported_expenses', 'months_with_bank', 'current_exposure', 'client_type', 'deposit', 'current_balance', 'payment_amount', 'number_of_payments_in_arrears', 'cumulative_delinquency', 'amount_due', 'principal_amount', 'interest_accrued', 'outstanding_balance', 'arrears_amount', 'current_days_past_due', 'max_days_past_due', 'max_days_past_due_lifetime', 'number_of_extensions', 'bki_number_of_loans', 'ftd_1', 'ftd_2', 'ftd_3', 'ftd_4', 'age', 'loan_month', 'city_of_living_eq_registration', 'is_collateral', 'cnt', 'max_max_days_past_due', 'previous_loans_count', 'gb_90ever', 'gb_cum_dlq_90', 'gb_60ever']

Категориальные столбцы: ['application_id', 'branch_id', 'product_id', 'collateral_type', 'value_of_collateral', 'property_type', 'salary_payment_in_bank_account', 'loan_type', 'gender', 'city_of_living', 'region_of_living', 'city_of_registration', 'region_of_registration', 'work_phone_number', 'mobile_phone_number', 'education', 'marital_status', 'employment_type', 'employment_sector', 'employment_segment', 'source_of_main_income', 'source_of_additional_income', 'property_object', 'eskhata_online', 'plastic_cards', 'run_date', 'account_status', 'default_flag', 'bki_rating']

Временные столбцы: ['application_date', 'date_loan_granted', 'first_instalment_due_date', 'date_of_birth', 'date_account_opened', 'date_last_payment', 'date_final_payment', 'due_date']

# Заполнение пропущенных значений

In [74]:
# 1) Заполнение пропущенных значений в числовых столбцах медианой
for col in  numeric_columns:
    median = df_cleaned[col].median()
    df_cleaned[col].fillna(median, inplace=True)
    print(f"Заполнение пропусков в числовом столбце '{col}' медианой: {median}")

print("\n")

# 2) Заполнение пропущенных значений в категориальных столбцах модой
for col in categorical_columns:
    mode = df_cleaned[col].mode()[0] if not df_cleaned[col].mode().empty else 'Missing'
    df_cleaned[col].fillna(mode, inplace=True)
    print(f"Заполнение пропусков в категориальном столбце '{col}' модой: {mode}")

print("\n")

# 3) Заполнение пропущенных значений в временных столбцах медианой даты
for col in datetime_columns:
    # Преобразование даты в числовой формат для вычисления медианы
    median_timestamp = df_cleaned[col].dropna().astype(np.int64).median()
    median_date = pd.to_datetime(median_timestamp)
    df_cleaned[col].fillna(median_date, inplace=True)
    print(f"Заполнение пропусков в временном столбце '{col}' медианой даты: {median_date}")

print("\n")

Заполнение пропусков в числовом столбце 'customer_id' медианой: 25868867406.5
Заполнение пропусков в числовом столбце 'account_id' медианой: 45724284420.0
Заполнение пропусков в числовом столбце 'loan_amount' медианой: 6000.0
Заполнение пропусков в числовом столбце 'interest_rate' медианой: 31.0
Заполнение пропусков в числовом столбце 'number_of_instalments' медианой: 12.0
Заполнение пропусков в числовом столбце 'instalment_amount' медианой: 538.0
Заполнение пропусков в числовом столбце 'dependants' медианой: 2.0
Заполнение пропусков в числовом столбце 'number_children' медианой: 2.0
Заполнение пропусков в числовом столбце 'months_at_current_address' медианой: 3.0
Заполнение пропусков в числовом столбце 'months_at_job' медианой: 24.0
Заполнение пропусков в числовом столбце 'net_main_income' медианой: 2787.0
Заполнение пропусков в числовом столбце 'additional_income' медианой: 1000.0
Заполнение пропусков в числовом столбце 'reported_expenses' медианой: 1137.0
Заполнение пропусков в числовом столбце 'months_with_bank' медианой: 29.0
Заполнение пропусков в числовом столбце 'current_exposure' медианой: 3714.19
Заполнение пропусков в числовом столбце 'client_type' медианой: 1.0
Заполнение пропусков в числовом столбце 'deposit' медианой: 0.0
Заполнение пропусков в числовом столбце 'current_balance' медианой: 1006.72
Заполнение пропусков в числовом столбце 'payment_amount' медианой: 571.0
Заполнение пропусков в числовом столбце 'number_of_payments_in_arrears' медианой: 12.0
Заполнение пропусков в числовом столбце 'cumulative_delinquency' медианой: 0.0
Заполнение пропусков в числовом столбце 'amount_due' медианой: 174.0
Заполнение пропусков в числовом столбце 'principal_amount' медианой: 86.47999999999999
Заполнение пропусков в числовом столбце 'interest_accrued' медианой: 20.44
Заполнение пропусков в числовом столбце 'outstanding_balance' медианой: 1046.04
Заполнение пропусков в числовом столбце 'arrears_amount' медианой: 0.0
Заполнение пропусков в числовом столбце 'current_days_past_due' медианой: 0.0
Заполнение пропусков в числовом столбце 'max_days_past_due' медианой: 0.0
Заполнение пропусков в числовом столбце 'max_days_past_due_lifetime' медианой: 0.0
Заполнение пропусков в числовом столбце 'number_of_extensions' медианой: 0.0
Заполнение пропусков в числовом столбце 'bki_number_of_loans' медианой: 1.0
Заполнение пропусков в числовом столбце 'ftd_1' медианой: 0.0
Заполнение пропусков в числовом столбце 'ftd_2' медианой: 0.0
Заполнение пропусков в числовом столбце 'ftd_3' медианой: 0.0
Заполнение пропусков в числовом столбце 'ftd_4' медианой: 0.0
Заполнение пропусков в числовом столбце 'age' медианой: 37.0
Заполнение пропусков в числовом столбце 'loan_month' медианой: 202209.0
Заполнение пропусков в числовом столбце 'city_of_living_eq_registration' медианой: 1.0
Заполнение пропусков в числовом столбце 'is_collateral' медианой: 1.0
Заполнение пропусков в числовом столбце 'cnt' медианой: 1.0
Заполнение пропусков в числовом столбце 'max_max_days_past_due' медианой: 0.0
Заполнение пропусков в числовом столбце 'previous_loans_count' медианой: 0.0
Заполнение пропусков в числовом столбце 'gb_90ever' медианой: 0.0
Заполнение пропусков в числовом столбце 'gb_cum_dlq_90' медианой: 0.0
Заполнение пропусков в числовом столбце 'gb_60ever' медианой: 0.0


Заполнение пропусков в категориальном столбце 'application_id' модой: 1000000/КР
Заполнение пропусков в категориальном столбце 'branch_id' модой: ФИЛИАЛИ ЧСК "БОНКИ ЭСХАТА" ДАР Ш.ДУШАНБЕ
Заполнение пропусков в категориальном столбце 'product_id' модой: Карзхои гуногунмаксад
Заполнение пропусков в категориальном столбце 'collateral_type' модой: 1) Поручитель;
Заполнение пропусков в категориальном столбце 'value_of_collateral' модой: 1) 0;
Заполнение пропусков в категориальном столбце 'property_type' модой: 1) Поручитель;
Заполнение пропусков в категориальном столбце 'salary_payment_in_bank_account' модой: Нет
Заполнение пропусков в категориальном столбце 'loan_type' модой: Многоцелевые кредиты_005_аннуитет
Заполнение пропусков в категориальном столбце 'gender' модой: Мужской
Заполнение пропусков в категориальном столбце 'city_of_living' модой: Б.Гафуров
Заполнение пропусков в категориальном столбце 'region_of_living' модой: Вилояти Сугд
Заполнение пропусков в категориальном столбце 'city_of_registration' модой: Б.Гафуров
Заполнение пропусков в категориальном столбце 'region_of_registration' модой: Вилояти Сугд
Заполнение пропусков в категориальном столбце 'work_phone_number' модой: 992
Заполнение пропусков в категориальном столбце 'mobile_phone_number' модой: 992
Заполнение пропусков в категориальном столбце 'education' модой: Среднее
Заполнение пропусков в категориальном столбце 'marital_status' модой: Женат
Заполнение пропусков в категориальном столбце 'employment_type' модой: Имеет другой источник дохода
Заполнение пропусков в категориальном столбце 'employment_sector' модой: Самозанятость
Заполнение пропусков в категориальном столбце 'employment_segment' модой: Услуги
Заполнение пропусков в категориальном столбце 'source_of_main_income' модой: Предпринимательство
Заполнение пропусков в категориальном столбце 'source_of_additional_income' модой: Прочее
Заполнение пропусков в категориальном столбце 'property_object' модой: Дом
Заполнение пропусков в категориальном столбце 'eskhata_online' модой: Нет
Заполнение пропусков в категориальном столбце 'plastic_cards' модой: Нет
Заполнение пропусков в категориальном столбце 'run_date' модой: 2023-06-30
Заполнение пропусков в категориальном столбце 'account_status' модой: Работает
Заполнение пропусков в категориальном столбце 'default_flag' модой: Миёна
Заполнение пропусков в категориальном столбце 'bki_rating' модой: A


Заполнение пропусков в временном столбце 'application_date' медианой даты: 2022-09-19 00:00:00
Заполнение пропусков в временном столбце 'date_loan_granted' медианой даты: 2022-09-19 00:00:00
Заполнение пропусков в временном столбце 'first_instalment_due_date' медианой даты: 2022-10-24 00:00:00
Заполнение пропусков в временном столбце 'date_of_birth' медианой даты: 1985-06-06 00:00:00
Заполнение пропусков в временном столбце 'date_account_opened' медианой даты: 2022-09-19 00:00:00
Заполнение пропусков в временном столбце 'date_last_payment' медианой даты: 2023-06-05 00:00:00
Заполнение пропусков в временном столбце 'date_final_payment' медианой даты: 2024-01-08 00:00:00
Заполнение пропусков в временном столбце 'due_date' медианой даты: 2023-06-15 00:00:00

In [75]:
# 5. Обработка выбросов для числовых столбцов
for col in numeric_columns:
    lower_quantile = df_cleaned[col].quantile(0.01)
    upper_quantile = df_cleaned[col].quantile(0.99)
    original_min = df_cleaned[col].min()
    original_max = df_cleaned[col].max()
    
    # Обрезка выбросов
    df_cleaned[col] = np.where(df_cleaned[col] < lower_quantile, lower_quantile, df_cleaned[col])
    df_cleaned[col] = np.where(df_cleaned[col] > upper_quantile, upper_quantile, df_cleaned[col])
    
    print(f"Обработка выбросов в столбце '{col}':")
    print(f" - Оригинальный минимум: {original_min}, обрезанный минимум: {lower_quantile}")
    print(f" - Оригинальный максимум: {original_max}, обрезанный максимум: {upper_quantile}\n")

Обработка выбросов в столбце 'customer_id':
 - Оригинальный минимум: 17948859, обрезанный минимум: 149767628.73
 - Оригинальный максимум: 55262909592, обрезанный максимум: 53794111613.97

Обработка выбросов в столбце 'account_id':
 - Оригинальный минимум: 35619143897, обрезанный минимум: 36160679653.67
 - Оригинальный максимум: 54538795387, обрезанный максимум: 54326692918.67

Обработка выбросов в столбце 'loan_amount':
 - Оригинальный минимум: 500.0, обрезанный минимум: 1000.0
 - Оригинальный максимум: 476000.0, обрезанный максимум: 55000.0

Обработка выбросов в столбце 'interest_rate':
 - Оригинальный минимум: 0.0, обрезанный минимум: 21.0
 - Оригинальный максимум: 32.0, обрезанный максимум: 31.0

Обработка выбросов в столбце 'number_of_instalments':
 - Оригинальный минимум: 0, обрезанный минимум: 5.0
 - Оригинальный максимум: 120, обрезанный максимум: 36.0

Обработка выбросов в столбце 'instalment_amount':
 - Оригинальный минимум: 0.0, обрезанный минимум: 97.0
 - Оригинальный максимум: 476000.0, обрезанный максимум: 3895.029999999999

Обработка выбросов в столбце 'dependants':
 - Оригинальный минимум: 0, обрезанный минимум: 0.0
 - Оригинальный максимум: 34, обрезанный максимум: 6.0

Обработка выбросов в столбце 'number_children':
 - Оригинальный минимум: 0, обрезанный минимум: 0.0
 - Оригинальный максимум: 13, обрезанный максимум: 5.0

Обработка выбросов в столбце 'months_at_current_address':
 - Оригинальный минимум: 0, обрезанный минимум: 0.0
 - Оригинальный максимум: 7191, обрезанный максимум: 37.0

Обработка выбросов в столбце 'months_at_job':
 - Оригинальный минимум: 0, обрезанный минимум: 0.0
 - Оригинальный максимум: 25440, обрезанный максимум: 360.0

Обработка выбросов в столбце 'net_main_income':
 - Оригинальный минимум: 0.01, обрезанный минимум: 553.0
 - Оригинальный максимум: 90044313.0, обрезанный максимум: 11222.149999999994

Обработка выбросов в столбце 'additional_income':
 - Оригинальный минимум: 0.01, обрезанный минимум: 300.0
 - Оригинальный максимум: 80000.0, обрезанный максимум: 3500.0

Обработка выбросов в столбце 'reported_expenses':
 - Оригинальный минимум: 0.01, обрезанный минимум: 450.0
 - Оригинальный максимум: 72800.0, обрезанный максимум: 4118.059999999998

Обработка выбросов в столбце 'months_with_bank':
 - Оригинальный минимум: 0, обрезанный минимум: 1.0
 - Оригинальный максимум: 272, обрезанный максимум: 170.0

Обработка выбросов в столбце 'current_exposure':
 - Оригинальный минимум: 0.0, обрезанный минимум: 0.0
 - Оригинальный максимум: 433185.0, обрезанный максимум: 58947.4

Обработка выбросов в столбце 'client_type':
 - Оригинальный минимум: 0, обрезанный минимум: 0.0
 - Оригинальный максимум: 1, обрезанный максимум: 1.0

Обработка выбросов в столбце 'deposit':
 - Оригинальный минимум: 0.0, обрезанный минимум: 0.0
 - Оригинальный максимум: 2197369.8, обрезанный максимум: 12.0

Обработка выбросов в столбце 'current_balance':
 - Оригинальный минимум: 0.0, обрезанный минимум: 0.0
 - Оригинальный максимум: 350000.0, обрезанный максимум: 45527.759299999954

Обработка выбросов в столбце 'payment_amount':
 - Оригинальный минимум: 0.0, обрезанный минимум: 97.0
 - Оригинальный максимум: 350000.0, обрезанный максимум: 17978.0

Обработка выбросов в столбце 'number_of_payments_in_arrears':
 - Оригинальный минимум: 0.0, обрезанный минимум: 2.0
 - Оригинальный максимум: 569.0, обрезанный максимум: 123.0

Обработка выбросов в столбце 'cumulative_delinquency':
 - Оригинальный минимум: 0, обрезанный минимум: 0.0
 - Оригинальный максимум: 3854, обрезанный максимум: 223.0

Обработка выбросов в столбце 'amount_due':
 - Оригинальный минимум: 0.0, обрезанный минимум: 0.0
 - Оригинальный максимум: 175612.86, обрезанный максимум: 6356.109199999993

Обработка выбросов в столбце 'principal_amount':
 - Оригинальный минимум: 0.0, обрезанный минимум: 0.0
 - Оригинальный максимум: 170000.0, обрезанный максимум: 6000.0

Обработка выбросов в столбце 'interest_accrued':
 - Оригинальный минимум: 0.0, обрезанный минимум: 0.0
 - Оригинальный максимум: 7961.43, обрезанный максимум: 1147.0659999999975

Обработка выбросов в столбце 'outstanding_balance':
 - Оригинальный минимум: 0.0, обрезанный минимум: 0.0
 - Оригинальный максимум: 360084.58, обрезанный максимум: 46378.42629999999

Обработка выбросов в столбце 'arrears_amount':
 - Оригинальный минимум: 0.0, обрезанный минимум: 0.0
 - Оригинальный максимум: 4193.25, обрезанный максимум: 142.90119999999996

Обработка выбросов в столбце 'current_days_past_due':
 - Оригинальный минимум: 0, обрезанный минимум: 0.0
 - Оригинальный максимум: 62, обрезанный максимум: 18.0

Обработка выбросов в столбце 'max_days_past_due':
 - Оригинальный минимум: 0, обрезанный минимум: 0.0
 - Оригинальный максимум: 62, обрезанный максимум: 18.0

Обработка выбросов в столбце 'max_days_past_due_lifetime':
 - Оригинальный минимум: 0, обрезанный минимум: 0.0
 - Оригинальный максимум: 506, обрезанный максимум: 75.0

Обработка выбросов в столбце 'number_of_extensions':
 - Оригинальный минимум: 0, обрезанный минимум: 0.0
 - Оригинальный максимум: 1, обрезанный максимум: 0.0

Обработка выбросов в столбце 'bki_number_of_loans':
 - Оригинальный минимум: 0, обрезанный минимум: 0.0
 - Оригинальный максимум: 966, обрезанный максимум: 32.0

Обработка выбросов в столбце 'ftd_1':
 - Оригинальный минимум: 0, обрезанный минимум: 0.0
 - Оригинальный максимум: 391, обрезанный максимум: 12.0

Обработка выбросов в столбце 'ftd_2':
 - Оригинальный минимум: 0, обрезанный минимум: 0.0
 - Оригинальный максимум: 388, обрезанный максимум: 16.0

Обработка выбросов в столбце 'ftd_3':
 - Оригинальный минимум: 0, обрезанный минимум: 0.0
 - Оригинальный максимум: 357, обрезанный максимум: 20.0

Обработка выбросов в столбце 'ftd_4':
 - Оригинальный минимум: 0, обрезанный минимум: 0.0
 - Оригинальный максимум: 299, обрезанный максимум: 21.029999999998836

Обработка выбросов в столбце 'age':
 - Оригинальный минимум: 18, обрезанный минимум: 19.0
 - Оригинальный максимум: 94, обрезанный максимум: 68.0

Обработка выбросов в столбце 'loan_month':
 - Оригинальный минимум: 202110, обрезанный минимум: 202111.0
 - Оригинальный максимум: 202306, обрезанный максимум: 202306.0

Обработка выбросов в столбце 'city_of_living_eq_registration':
 - Оригинальный минимум: 0, обрезанный минимум: 0.0
 - Оригинальный максимум: 1, обрезанный максимум: 1.0

Обработка выбросов в столбце 'is_collateral':
 - Оригинальный минимум: 1, обрезанный минимум: 1.0
 - Оригинальный максимум: 1, обрезанный максимум: 1.0

Обработка выбросов в столбце 'cnt':
 - Оригинальный минимум: 1.0, обрезанный минимум: 1.0
 - Оригинальный максимум: 1.0, обрезанный максимум: 1.0

Обработка выбросов в столбце 'max_max_days_past_due':
 - Оригинальный минимум: 0.0, обрезанный минимум: 0.0
 - Оригинальный максимум: 441.0, обрезанный максимум: 11.0

Обработка выбросов в столбце 'previous_loans_count':
 - Оригинальный минимум: 0, обрезанный минимум: 0.0
 - Оригинальный максимум: 1, обрезанный максимум: 1.0

Обработка выбросов в столбце 'gb_90ever':
 - Оригинальный минимум: 0, обрезанный минимум: 0.0
 - Оригинальный максимум: 1, обрезанный максимум: 0.0

Обработка выбросов в столбце 'gb_cum_dlq_90':
 - Оригинальный минимум: 0, обрезанный минимум: 0.0
 - Оригинальный максимум: 1, обрезанный максимум: 1.0

Обработка выбросов в столбце 'gb_60ever':
 - Оригинальный минимум: 0, обрезанный минимум: 0.0
 - Оригинальный максимум: 1, обрезанный максимум: 1.0

In [76]:
# 6. Проверка наличия дублей
duplicates = df_cleaned.duplicated().sum()
print(f"Количество дубликатов в DataFrame: {duplicates}")
if duplicates > 0:
    df_cleaned = df_cleaned.drop_duplicates()
    print(f"Дубликаты удалены. Новый размер DataFrame: {df_cleaned.shape}\n")
else:
    print("Дубликаты отсутствуют.\n")

Количество дубликатов в DataFrame: 0
Дубликаты отсутствуют.

In [79]:
# 7. Вывод сводных статистик после очистки

# 1) Сводные статистики для числовых столбцов
print("Сводные статистики для числовых столбцов после очистки:")
display(df_cleaned[numeric_columns].describe())
print("\n")

Сводные статистики для числовых столбцов после очистки:

,customer_id,account_id,loan_amount,interest_rate,number_of_instalments,instalment_amount,dependants,number_children,months_at_current_address,months_at_job,net_main_income,additional_income,reported_expenses,months_with_bank,current_exposure,client_type,deposit,current_balance,payment_amount,number_of_payments_in_arrears,cumulative_delinquency,amount_due,principal_amount,interest_accrued,outstanding_balance,arrears_amount,current_days_past_due,max_days_past_due,max_days_past_due_lifetime,number_of_extensions,bki_number_of_loans,ftd_1,ftd_2,ftd_3,ftd_4,age,loan_month,city_of_living_eq_registration,is_collateral,cnt,max_max_days_past_due,previous_loans_count,gb_90ever,gb_cum_dlq_90,gb_60ever
count,2.356980e+05,2.356980e+05,235698.000000,235698.000000,235698.000000,235698.000000,235698.000000,235698.000000,235698.000000,235698.000000,235698.000000,235698.000000,235698.000000,235698.000000,235698.000000,235698.000000,235698.000000,235698.000000,235698.000000,235698.000000,235698.000000,235698.000000,235698.000000,235698.000000,235698.000000,235698.000000,235698.000000,235698.000000,235698.000000,235698.0,235698.000000,235698.000000,235698.000000,235698.000000,235698.000000,235698.000000,235698.000000,235698.000000,235698.0,235698.0,235698.000000,235698.000000,235698.0,235698.000000,235698.000000
mean,2.523072e+10,4.547567e+10,10294.070574,30.526321,16.253884,752.911162,2.085062,1.887958,6.343032,60.980208,3192.371018,1057.945479,1320.311930,43.027989,7903.344246,0.600357,0.148725,4824.253638,1128.166170,13.450356,9.919108,513.422048,388.413414,121.553043,4908.099065,2.272885,0.679598,0.679560,4.130884,0.0,2.285013,0.446487,0.585580,0.703765,0.746199,38.808764,202229.650939,0.825387,1.0,1.0,0.407891,0.257550,0.0,0.030195,0.013488
std,1.635549e+10,5.475933e+09,10584.296741,1.686565,7.122095,660.062417,1.455937,1.262793,7.554012,81.612700,1951.020193,412.183966,638.357775,39.482992,11086.412582,0.489826,1.281415,8371.005855,2288.609125,12.487888,31.199692,946.443687,826.669941,213.927420,8504.882529,16.496591,2.543618,2.543516,11.005688,0.0,4.338783,1.710144,2.225922,2.702216,2.885909,12.287200,58.602091,0.379637,0.0,0.0,1.599905,0.437286,0.0,0.171125,0.115351
min,1.497676e+08,3.616068e+10,1000.000000,21.000000,5.000000,97.000000,0.000000,0.000000,0.000000,0.000000,553.000000,300.000000,450.000000,1.000000,0.000000,0.000000,0.000000,0.000000,97.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,19.000000,202111.000000,0.000000,1.0,1.0,0.000000,0.000000,0.0,0.000000,0.000000
25%,9.742133e+09,4.052084e+10,3500.000000,31.000000,12.000000,338.000000,1.000000,1.000000,0.000000,0.000000,1950.000000,1000.000000,1000.000000,14.000000,92.685000,0.000000,0.000000,0.000000,402.000000,12.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,29.000000,202204.000000,1.000000,1.0,1.0,0.000000,0.000000,0.0,0.000000,0.000000
50%,2.586887e+10,4.572428e+10,6000.000000,31.000000,12.000000,538.000000,2.000000,2.000000,3.000000,24.000000,2787.000000,1000.000000,1137.000000,29.000000,3714.190000,1.000000,0.000000,1006.720000,571.000000,12.000000,0.000000,174.000000,86.480000,20.440000,1046.040000,0.000000,0.000000,0.000000,0.000000,0.0,1.000000,0.000000,0.000000,0.000000,0.000000,37.000000,202209.000000,1.000000,1.0,1.0,0.000000,0.000000,0.0,0.000000,0.000000
75%,3.888898e+10,5.032726e+10,12000.000000,31.000000,18.000000,979.000000,3.000000,3.000000,10.000000,96.000000,4000.000000,1000.000000,1500.000000,63.000000,10411.787500,1.000000,0.000000,5680.702500,975.000000,12.000000,4.000000,645.000000,455.410000,142.000000,5781.920000,0.000000,0.000000,0.000000,3.000000,0.0,3.000000,0.000000,0.000000,0.000000,0.000000,48.000000,202302.000000,1.000000,1.0,1.0,0.000000,1.000000,0.0,0.000000,0.000000
max,5.379411e+10,5.432669e+10,55000.000000,31.000000,36.000000,3895.030000,6.000000,5.000000,37.000000,360.000000,11222.150000,3500.000000,4118.060000,170.000000,58947.400000,1.000000,12.000000,45527.759300,17978.000000,123.000000,223.000000,6356.109200,6000.000000,1147.066000,46378.426300,142.901200,18.000000,18.000000,75.000000,0.0,32.000000,12.000000,16.000000,20.000000,21.030000,68.000000,202306.000000,1.000000,1.0,1.0,11.000000,1.000000,0.0,1.000000,1.000000

In [80]:
# 2) Сводные статистики для категориальных столбцов
print("Сводные статистики для категориальных столбцов после очистки:")
display(df_cleaned[categorical_columns].describe())
print("\n")

Сводные статистики для категориальных столбцов после очистки:

,application_id,branch_id,product_id,collateral_type,value_of_collateral,property_type,salary_payment_in_bank_account,loan_type,gender,city_of_living,region_of_living,city_of_registration,region_of_registration,work_phone_number,mobile_phone_number,education,marital_status,employment_type,employment_sector,employment_segment,source_of_main_income,source_of_additional_income,property_object,eskhata_online,plastic_cards,run_date,account_status,default_flag,bki_rating
count,235698,235698,235698,235698,235698,235698,235698,235698,235698,235698,235698,235698,235698,235698,235698,235698,235698,235698,235698,235698,235698,235698,235698,235698,235698,235698,235698,235698,235698
unique,235698,33,11,97,6254,97,2,7,2,277,5,193,5,165012,10647,7,8,3,9,56,6,6,7,3,2,1,3,2,10
top,1000000/КР,"ФИЛИАЛИ ЧСК ""БОНКИ ЭСХАТА"" ДАР Ш.ДУШАНБЕ",Карзхои гуногунмаксад,1) Поручитель;,1) 0;,1) Поручитель;,Нет,Многоцелевые кредиты_005_аннуитет,Мужской,Б.Гафуров,Вилояти Сугд,Б.Гафуров,Вилояти Сугд,992,992,Среднее,Женат,Имеет другой источник дохода,Самозанятость,Услуги,Предпринимательство,Прочее,Дом,Нет,Нет,2023-06-30,Работает,Миёна,A
freq,1,28025,211363,223224,223231,223224,225053,222513,122799,20797,103827,20930,103789,10318,221189,159325,99803,87004,170826,115559,89601,203591,201106,119991,147288,235698,136096,235068,167416

In [83]:
# 3) Сводные статистики для временных столбцов
print("Сводные статистики для временных столбцов после очистки:")
display(df_cleaned[datetime_columns].describe())
print("\n")

Сводные статистики для временных столбцов после очистки:

C:\Users\F_Jumaev\AppData\Local\Temp\ipykernel_14768\220884280.py:3: FutureWarning:

Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.

C:\Users\F_Jumaev\AppData\Local\Temp\ipykernel_14768\220884280.py:3: FutureWarning:

Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.

C:\Users\F_Jumaev\AppData\Local\Temp\ipykernel_14768\220884280.py:3: FutureWarning:

Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.

C:\Users\F_Jumaev\AppData\Local\Temp\ipykernel_14768\220884280.py:3: FutureWarning:

Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.

C:\Users\F_Jumaev\AppData\Local\Temp\ipykernel_14768\220884280.py:3: FutureWarning:

Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.

C:\Users\F_Jumaev\AppData\Local\Temp\ipykernel_14768\220884280.py:3: FutureWarning:

Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.

C:\Users\F_Jumaev\AppData\Local\Temp\ipykernel_14768\220884280.py:3: FutureWarning:

Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.

C:\Users\F_Jumaev\AppData\Local\Temp\ipykernel_14768\220884280.py:3: FutureWarning:

Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.

,application_date,date_loan_granted,first_instalment_due_date,date_of_birth,date_account_opened,date_last_payment,date_final_payment,due_date
count,235698,235698,235698,235698,235698,235698,235698,235698
unique,548,432,604,19278,432,456,1219,25
top,2023-03-27 00:00:00,2023-03-28 00:00:00,2023-03-27 00:00:00,2000-01-01 00:00:00,2023-03-28 00:00:00,2023-06-05 00:00:00,2024-04-08 00:00:00,2023-06-15 00:00:00
freq,1121,1000,3311,101,1000,23150,1317,55197
first,2021-10-01 00:00:00,2021-11-01 00:00:00,2020-01-09 00:00:00,1927-10-27 00:00:00,2021-11-01 00:00:00,2021-11-04 00:00:00,2021-11-25 00:00:00,2023-06-01 00:00:00
last,2023-06-30 00:00:00,2023-06-30 00:00:00,2026-01-12 00:00:00,2022-12-17 00:00:00,2023-06-30 00:00:00,2023-06-30 00:00:00,2033-06-24 00:00:00,2023-06-30 00:00:00

In [84]:
# 8. Дополнительная очистка

# 8.1. Анализ уникальных значений для категориальных столбцов
print("Анализ уникальных значений для категориальных столбцов:")
for col in categorical_columns:
    unique_count = df_cleaned[col].nunique()
    print(f" - Столбец '{col}': {unique_count} уникальных значений")

# Пример: удаление категориальных столбцов с высокой кардинальностью (более 100 уникальных значений)
cardinality_threshold = 100
high_cardinality_cols = [col for col in categorical_columns if df_cleaned[col].nunique() > cardinality_threshold]
print(f"\nКатегориальные столбцы с более чем {cardinality_threshold} уникальных значений:")
print(high_cardinality_cols)

# Удаление высоко-кардинальных столбцов
if high_cardinality_cols:
    df_cleaned = df_cleaned.drop(columns=high_cardinality_cols)
    print(f"Столбцы {high_cardinality_cols} удалены из DataFrame.\n")
else:
    print("Столбцы с высокой кардинальностью отсутствуют.\n")

Анализ уникальных значений для категориальных столбцов:
 - Столбец 'application_id': 235698 уникальных значений
 - Столбец 'branch_id': 33 уникальных значений
 - Столбец 'product_id': 11 уникальных значений
 - Столбец 'collateral_type': 97 уникальных значений
 - Столбец 'value_of_collateral': 6254 уникальных значений
 - Столбец 'property_type': 97 уникальных значений
 - Столбец 'salary_payment_in_bank_account': 2 уникальных значений
 - Столбец 'loan_type': 7 уникальных значений
 - Столбец 'gender': 2 уникальных значений
 - Столбец 'city_of_living': 277 уникальных значений
 - Столбец 'region_of_living': 5 уникальных значений
 - Столбец 'city_of_registration': 193 уникальных значений
 - Столбец 'region_of_registration': 5 уникальных значений
 - Столбец 'work_phone_number': 165012 уникальных значений
 - Столбец 'mobile_phone_number': 10647 уникальных значений
 - Столбец 'education': 7 уникальных значений
 - Столбец 'marital_status': 8 уникальных значений
 - Столбец 'employment_type': 3 уникальных значений
 - Столбец 'employment_sector': 9 уникальных значений
 - Столбец 'employment_segment': 56 уникальных значений
 - Столбец 'source_of_main_income': 6 уникальных значений
 - Столбец 'source_of_additional_income': 6 уникальных значений
 - Столбец 'property_object': 7 уникальных значений
 - Столбец 'eskhata_online': 3 уникальных значений
 - Столбец 'plastic_cards': 2 уникальных значений
 - Столбец 'run_date': 1 уникальных значений
 - Столбец 'account_status': 3 уникальных значений
 - Столбец 'default_flag': 2 уникальных значений
 - Столбец 'bki_rating': 10 уникальных значений

Категориальные столбцы с более чем 100 уникальных значений:
['application_id', 'value_of_collateral', 'city_of_living', 'city_of_registration', 'work_phone_number', 'mobile_phone_number']
Столбцы ['application_id', 'value_of_collateral', 'city_of_living', 'city_of_registration', 'work_phone_number', 'mobile_phone_number'] удалены из DataFrame.

In [85]:
# 9. Сохранение очищенного DataFrame 
# df_cleaned.to_csv('cleaned_dataset.csv', index=False)

# 10. Итоговый вывод
print(f"Итоговый размер DataFrame после очистки: {df_cleaned.shape}")

Итоговый размер DataFrame после очистки: (235698, 76)

In [86]:
# Вычисляем количество пропущенных значений в каждом столбце
missing_values = df_cleaned.isnull().sum()
columns_with_missing = missing_values[missing_values > 0]
columns_with_missing

Series([], dtype: int64)

# Сводные статистики

In [55]:
# for column in df.columns.to_list():
#     plt.figure(figsize=(10, 6))
#     plt.hist(df[column], bins=50, alpha=0.7, label=column)
#     plt.xlabel(column)
#     plt.show()

In [45]:
# Настройки для красивых графиков
sns.set(style="whitegrid")
plt.rcParams["figure.figsize"] = (10, 6)

# Выборка 5% случайных строк для ускорения визуализации
sample_frac = 0.05
sample_df = df.sample(frac=sample_frac, random_state=42)

# Определение типов столбцов
numeric_columns = sample_df.select_dtypes(include=['int64', 'int32', 'float64']).columns.tolist()
categorical_columns = sample_df.select_dtypes(include=['category', 'object']).columns.tolist()
datetime_columns = sample_df.select_dtypes(include=['datetime64[ns]']).columns.tolist()

In [46]:
# Функция для построения графиков числовых столбцов
def plot_numeric(column):
    plt.figure(figsize=(14, 6))

    # Гистограмма
    plt.subplot(1, 2, 1)
    sns.histplot(sample_df[column].dropna(), bins=30, color='skyblue', kde=True)
    plt.title(f"Гистограмма '{column}'")
    plt.xlabel(column)
    plt.ylabel('Частота')

    plt.tight_layout()
    plt.show()
    plt.close()

# Функция для построения графиков категориальных столбцов
def plot_categorical(column):
    plt.figure(figsize=(10, 6))
    # Замена пропущенных значений на 'Missing'
    data = sample_df[column].astype(str).fillna('Missing')
    sns.countplot(y=data, palette="Set2", order=data.value_counts().index)
    plt.title(f"Распределение по '{column}'")
    plt.xlabel('Частота')
    plt.ylabel(column)
    plt.tight_layout()
    plt.show()
    plt.close()

# Функция для построения графиков временных столбцов
def plot_datetime(column):
    plt.figure(figsize=(14, 6))
    
    # Извлечение года из даты
    data_year = sample_df[column].dropna().dt.year
    sns.histplot(data_year, bins=30, color='coral', kde=True)
    plt.title(f"Распределение по годам для '{column}'")
    plt.xlabel('Год')
    plt.ylabel('Частота')
    
    plt.tight_layout()
    plt.show()
    plt.close()

In [54]:
# # Итерация по числовым столбцам и построение графиков
# print("Построение графиков для числовых столбцов...")
# for col in numeric_columns:
#     print(f"Построение для '{col}'...")
#     plot_numeric(col)

In [52]:
# # Итерация по категориальным столбцам и построение графиков
# print("Построение графиков для категориальных столбцов...")
# for col in categorical_columns:
#     print(f"Построение для '{col}'...")
#     plot_categorical(col)

In [53]:
# # Итерация по временным столбцам и построение графиков
# print("Построение графиков для временных столбцов...")
# for col in datetime_columns:
#     print(f"Построение для '{col}'...")
#     plot_datetime(col)

# print("Все графики построены.")

# Выбор необходимых столбцов

In [139]:
include_vars = [
    "customer_id",
    "account_id",
    "loan_amount",
    "is_collateral",
    "salary_payment_in_bank_account",
    "age",
    "gender",
    "region_of_living",
    "region_of_registration",
    "city_of_living_eq_registration",
    "education",
    "marital_status",
    "dependants",
    "months_at_current_address",
    "employment_type",
    "employment_segment",
    "months_at_job",
    "net_main_income",
    "source_of_main_income",
    "additional_income",
    "reported_expenses",
    "months_with_bank",
    "client_type",
    "property_object",
    "eskhata_online",
    "plastic_cards",
    "deposit",
    "gb_90ever",
    "gb_cum_dlq_90",
    "gb_60ever",
    "bki_rating",
    "bki_number_of_loans",
    "loan_month",
    "previous_loans_count",
    "max_max_days_past_due",
]

In [140]:
# Проверка наличия всех столбцов
missing_columns = [col for col in include_vars if col not in df.columns]
if missing_columns:
    logging.warning(f"Отсутствуют следующие столбцы: {missing_columns}")

In [141]:
# Создание нового датафрейма с выбранными столбцами (только существующие)
existing_include_vars = [col for col in include_vars if col in df.columns]
df_selected = df[existing_include_vars].copy()

# Группировка по loan_month и вычисление показателей просроченности

In [138]:
logging.info("Группировка по 'loan_month' и вычисление показателей просроченности.")
rep_gb_90ever_month = df_selected.groupby('loan_month').agg(
    count=('gb_90ever', 'count'),
    bad_num=('gb_90ever', 'sum'),
    bad_rate=('gb_90ever', 'mean')
).reset_index()

rep_gb_cum_dlq_90_month = df_selected.groupby('loan_month').agg(
    count=('gb_cum_dlq_90', 'count'),
    bad_num=('gb_cum_dlq_90', 'sum'),
    bad_rate=('gb_cum_dlq_90', 'mean')
).reset_index()

rep_gb_60ever_month = df_selected.groupby('loan_month').agg(
    count=('gb_60ever', 'count'),
    bad_num=('gb_60ever', 'sum'),
    bad_rate=('gb_60ever', 'mean')
).reset_index()

2024-12-05 14:41:48,359 - INFO - Группировка по 'loan_month' и вычисление показателей просроченности.

# Создание выборок по типу занятости

In [28]:
logging.info("Создание выборок по типу занятости.")
sample_empl = df_selected[
    (df_selected['employment_type'] == "Работает в организации") &
    (df_selected['employment_segment'].isin([
        "Мед. работник",
        "Работник в сфере образования",
        "Работник госструктур",
        "Работник НПО (Ташкилоти Чамъияти)",
        "Работник производства",
        "Работник сельского хозяйство",
        "Работник частной организации",
        "Строитель",
        "Экономист"
    ]))
].copy()

sample_bus = df_selected[
    (df_selected['employment_type'] == "Собственный бизнес") &
    (df_selected['employment_segment'].isin([
        "Агро",
        "Производство",
        "Торговля",
        "Услуги",
        "Услуги Мастера",
        "Услуги транспорта"
    ]))
].copy()

sample_other = df_selected[
    (df_selected['employment_type'] == "Имеет другой источник дохода") &
    (df_selected['employment_segment'].isna())
].copy()

2024-12-04 16:54:14,887 - INFO - Создание выборок по типу занятости.

In [29]:
logging.info("Вывод размеров выборок.")
print(f"\nРазмер выборки для работников: {sample_empl.shape[0]}")
print(f"Размер выборки для бизнесменов: {sample_bus.shape[0]}")
print(f"Размер выборки для других источников дохода: {sample_other.shape[0]}")

2024-12-04 16:54:14,951 - INFO - Вывод размеров выборок.

Размер выборки для работников: 51547
Размер выборки для бизнесменов: 79305
Размер выборки для других источников дохода: 85248

# Создание выборки для анализа

In [30]:
# Пример выбора выборки для анализа
sample = sample_empl.copy()
# sample = sample_bus.copy()
# sample = sample_other.copy()

logging.info("Структура выбранной выборки:")
print(sample.info())

2024-12-04 16:54:14,969 - INFO - Структура выбранной выборки:

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51547 entries, 8 to 235698
Data columns (total 35 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   customer_id                     51547 non-null  float64
 1   account_id                      51546 non-null  float64
 2   loan_amount                     51546 non-null  float64
 3   is_collateral                   51547 non-null  int32
 4   salary_payment_in_bank_account  51546 non-null  category
 5   age                             51545 non-null  float64
 6   gender                          51547 non-null  category
 7   region_of_living                51547 non-null  category
 8   region_of_registration          51547 non-null  category
 9   city_of_living_eq_registration  51547 non-null  int32
 10  education                       48721 non-null  category
 11  marital_status                  51463 non-null  category
 12  dependants                      51547 non-null  int64
 13  months_at_current_address       51547 non-null  int64
 14  employment_type                 51547 non-null  category
 15  employment_segment              51547 non-null  category
 16  months_at_job                   51547 non-null  int64
 17  net_main_income                 51543 non-null  float64
 18  source_of_main_income           51302 non-null  category
 19  additional_income               22899 non-null  float64
 20  reported_expenses               51547 non-null  float64
 21  months_with_bank                51546 non-null  float64
 22  client_type                     51547 non-null  int64
 23  property_object                 51543 non-null  category
 24  eskhata_online                  51547 non-null  category
 25  plastic_cards                   51547 non-null  category
 26  deposit                         51546 non-null  float64
 27  gb_90ever                       51547 non-null  int32
 28  gb_cum_dlq_90                   51547 non-null  int32
 29  gb_60ever                       51547 non-null  int32
 30  bki_rating                      19774 non-null  category
 31  bki_number_of_loans             51546 non-null  float64
 32  loan_month                      51546 non-null  float64
 33  previous_loans_count            51547 non-null  int32
 34  max_days_past_due               51546 non-null  float64
dtypes: category(13), float64(12), int32(6), int64(4)
memory usage: 8.5 MB
None

# Определение целевой переменной

In [31]:
# Создание переменной gb
logging.info("Создание целевой переменной 'gb'.")
sample.loc[:, 'gb'] = sample['gb_60ever']\

# sample.loc[:, 'gb'] = sample['gb_cum_dlq_90']

2024-12-04 16:54:15,000 - INFO - Создание целевой переменной 'gb'.

# Семплирование
## Создание выборок для Train и Test

In [32]:
# Выборка для обучения модели
dev = sample[(sample['loan_month'] >= 202110) & (sample['loan_month'] < 202210)].drop(columns=['loan_month']).copy()

# Выборка для тестирования модели на временную устойчивость
oot = sample[(sample['loan_month'] >= 202210) & (sample['loan_month'] < 202303)].copy()

# Выборка для кросс-валидации внутри обучающей выборки
oot2 = sample[(sample['loan_month'] >= 202207) & (sample['loan_month'] < 202210)].copy()

# Выборка для финального обучения модели
dev_final = sample[(sample['loan_month'] >= 202110) & (sample['loan_month'] < 202302)].drop(columns=['loan_month']).copy()

In [33]:
# Изучение распределений
logging.info("Изучение распределений в выборках.")
print("\nРаспределение в Development Sample:")
print(dev[['gb']].agg(['count', 'sum']))
print(dev[['gb']].agg(['count', 'sum']) / len(dev))

print("\nРаспределение в Out-of-time Sample:")
print(oot[['gb']].agg(['count', 'sum']))
print(oot[['gb']].agg(['count', 'sum']) / len(oot))

print("\nРаспределение в Out-of-time 2 Sample:")
print(oot2[['gb']].agg(['count', 'sum']))
print(oot2[['gb']].agg(['count', 'sum']) / len(oot2))

print("\nРаспределение в Development Final Sample:")
print(dev_final[['gb']].agg(['count', 'sum']))
print(dev_final[['gb']].agg(['count', 'sum']) / len(dev_final))

2024-12-04 16:54:15,068 - INFO - Изучение распределений в выборках.

Распределение в Development Sample:
          gb
count  27834
sum      599
            gb
count  1.00000
sum    0.02152

Распределение в Out-of-time Sample:
          gb
count  12429
sum       80
             gb
count  1.000000
sum    0.006437

Распределение в Out-of-time 2 Sample:
         gb
count  9355
sum     139
             gb
count  1.000000
sum    0.014858

Распределение в Development Final Sample:
          gb
count  37636
sum      669
             gb
count  1.000000
sum    0.017776

In [34]:
# Вывод количества строк в каждой выборке
logging.info("Вывод количества строк в каждой выборке.")
print(f"\nКоличество строк в Development Sample: {dev.shape[0]}")
print(f"Количество строк в Out-of-time Sample: {oot.shape[0]}")
print(f"Количество строк в Out-of-time 2 Sample: {oot2.shape[0]}")
print(f"Количество строк в Development Final Sample: {dev_final.shape[0]}")

2024-12-04 16:54:15,128 - INFO - Вывод количества строк в каждой выборке.

Количество строк в Development Sample: 27834
Количество строк в Out-of-time Sample: 12429
Количество строк в Out-of-time 2 Sample: 9355
Количество строк в Development Final Sample: 37636

# MACHINE LEARNING

In [35]:
import pandas as pd
import numpy as np
import scorecardpy as sc
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score, classification_report, confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.feature_selection import VarianceThreshold
from imblearn.over_sampling import SMOTE
import matplotlib.pyplot as plt
import seaborn as sns
import logging
import json
import statsmodels.api as sm
import joblib

# Расчет Information Value (IV)

In [36]:
logging.info("Расчет Information Value (IV) для всех переменных в dev_final.")
iv_values_final = sc.iv(dt=dev_final, y='gb')

2024-12-04 16:54:17,966 - INFO - Расчет Information Value (IV) для всех переменных в dev_final.

In [37]:
# Просмотр структуры и первых строк DataFrame iv_values_final
print("Структура iv_values_final:")
print(iv_values_final.columns)

print("\nПервые 5 строк iv_values_final:")
print(iv_values_final.head())

Структура iv_values_final:
Index(['variable', 'info_value'], dtype='object')

Первые 5 строк iv_values_final:
             variable  info_value
17          gb_60ever   17.210712
31      gb_cum_dlq_90    7.762180
10          gb_90ever    6.407824
27  additional_income    2.209887
6         loan_amount    1.865620

# Отбор переменных на основе IV

In [38]:
logging.info("Отбор переменных на основе IV >= 0.01.")
selected_vars_iv = iv_values_final[
    iv_values_final['info_value'] >= 0.01
]['variable'].tolist()

logging.info(f"Переменные с info_value >= 0.01: {selected_vars_iv}")

2024-12-04 16:55:17,545 - INFO - Отбор переменных на основе IV >= 0.01.
2024-12-04 16:55:17,548 - INFO - Переменные с info_value >= 0.01: ['gb_60ever', 'gb_cum_dlq_90', 'gb_90ever', 'additional_income', 'loan_amount', 'reported_expenses', 'net_main_income', 'months_at_job', 'deposit', 'bki_number_of_loans', 'max_days_past_due', 'months_with_bank', 'age', 'employment_segment', 'marital_status', 'months_at_current_address', 'client_type', 'bki_rating', 'customer_id', 'salary_payment_in_bank_account', 'region_of_living', 'dependants', 'region_of_registration', 'education', 'eskhata_online', 'gender', 'property_object', 'city_of_living_eq_registration', 'source_of_main_income', 'plastic_cards', 'previous_loans_count']

# Вычисление доли пропусков для отобранных переменных

In [39]:
logging.info("Расчет доли пропусков для отобранных переменных.")
# Рассчитываем долю пропусков для отобранных переменных
missing_rates = dev_final[selected_vars_iv].isnull().mean().reset_index()
missing_rates.columns = ['variable', 'missing']

2024-12-04 16:55:17,570 - INFO - Расчет доли пропусков для отобранных переменных.

In [40]:
# Просмотр первых строк
logging.info("Структура missing_rates:")
display(missing_rates.columns)

logging.info("Первые 5 строк missing_rates:")
display(missing_rates.head())

2024-12-04 16:55:17,613 - INFO - Структура missing_rates:

Index(['variable', 'missing'], dtype='object')

2024-12-04 16:55:17,616 - INFO - Первые 5 строк missing_rates:

            variable   missing
0          gb_60ever  0.000000
1      gb_cum_dlq_90  0.000000
2          gb_90ever  0.000000
3  additional_income  0.545382
4        loan_amount  0.000000

# Объединение IV и missing_rates

In [41]:
# Объединяем IV и долю пропусков
iv_with_missing = iv_values_final.merge(missing_rates, on='variable')

# Просмотр первых строк
logging.info("Структура iv_with_missing:")
display(iv_with_missing.columns)

logging.info("Первые 5 строк iv_with_missing:")
display(iv_with_missing.head())

2024-12-04 16:55:17,635 - INFO - Структура iv_with_missing:

Index(['variable', 'info_value', 'missing'], dtype='object')

2024-12-04 16:55:17,641 - INFO - Первые 5 строк iv_with_missing:

            variable  info_value   missing
0          gb_60ever   17.210712  0.000000
1      gb_cum_dlq_90    7.762180  0.000000
2          gb_90ever    6.407824  0.000000
3  additional_income    2.209887  0.545382
4        loan_amount    1.865620  0.000000

# Фильтрация переменных по IV и пропускам

In [42]:
logging.info("Фильтрация переменных по info_value >= 0.01 и missing <= 0.95.")
# Отбор переменных с info_value >= 0.01 и пропусками <= 0.95
filtered_iv = iv_with_missing[
    (iv_with_missing['info_value'] >= 0.01) &
    (iv_with_missing['missing'] <= 0.95)
]

# Извлечение списка переменных
selected_vars_final = filtered_iv['variable'].tolist()

# Исключение определенных переменных
vars_to_remove = ["customer_id", "account_id", "gb_90ever", "gb_60ever", "gb_cum_dlq_90", "current_exposure"]
selected_vars_final = [var for var in selected_vars_final if var not in vars_to_remove]

logging.info(f"Отобранные переменные после фильтрации по IV и пропускам: {selected_vars_final}")

2024-12-04 16:55:17,662 - INFO - Фильтрация переменных по info_value >= 0.01 и missing <= 0.95.
2024-12-04 16:55:17,666 - INFO - Отобранные переменные после фильтрации по IV и пропускам: ['additional_income', 'loan_amount', 'reported_expenses', 'net_main_income', 'months_at_job', 'deposit', 'bki_number_of_loans', 'max_days_past_due', 'months_with_bank', 'age', 'employment_segment', 'marital_status', 'months_at_current_address', 'client_type', 'bki_rating', 'salary_payment_in_bank_account', 'region_of_living', 'dependants', 'region_of_registration', 'education', 'eskhata_online', 'gender', 'property_object', 'city_of_living_eq_registration', 'source_of_main_income', 'plastic_cards', 'previous_loans_count']

# Создание dev_final_sel

In [43]:
logging.info("Создание dev_final_sel с отобранными переменными.")
dev_final_sel = dev_final[selected_vars_final + ['gb']].copy()

logging.info(f"Количество строк в dev_final_sel: {dev_final_sel.shape[0]}")
logging.info(f"Количество столбцов в dev_final_sel: {dev_final_sel.shape[1]}")

2024-12-04 16:55:17,682 - INFO - Создание dev_final_sel с отобранными переменными.
2024-12-04 16:55:17,694 - INFO - Количество строк в dev_final_sel: 37636
2024-12-04 16:55:17,695 - INFO - Количество столбцов в dev_final_sel: 28

# Определение правил биннинга

In [44]:
logging.info("Определение правил биннинга для переменных.")

breaks = {
    'education': [
        "Высшее", "Ученая степень", "2 и более высших",
        "Среднее", "Начальное",
        "Среднее специальное",
        "Неоконченное высшее"
    ],
    'region_of_living': [
        "Вилояти Сугд", 
        "Вилояти Хатлон", "ВМКБ",
        "Душанбе", 
        "Нохияхои тобеи Чумхури"
    ],
    'marital_status': [
        "Женат", "Сожитель",
        "Замужем", "Вдова", "Разведена",
        "Холост", 
        "Не замужем", "Разведен"
    ],
    'employment_segment': [
        "Мед. работник", "Работник в сфере образования", "Экономист", "Работник НПО (Ташкилоти Чамъияти)",
        "Работник госструктур", "Строитель",
        "Работник производства", "Работник сельского хозяйство",
        "Работник частной организации"
    ],
    'source_of_main_income': [
        "Доход семьи",
        "Зарплата по основному месту работы",
        "Предпринимательство",
        "Пенсия", "Алименты", "Прочее", "missing"
    ],
    'months_at_job': [31, 61, 145, 277],
    'months_with_bank': [10, 25, 79],
    'net_main_income': ["missing", "1600", 3400]
}

2024-12-04 16:55:17,712 - INFO - Определение правил биннинга для переменных.