# DATA PROCESSING

# Импорт необходимых модумей

In [1]:
import re
import os
import logging
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime
from dateutil.relativedelta import relativedelta

# Загрузка данных

In [2]:
# Настройка логирования для отслеживания выполнения кода
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

# Устанавливание рабочей директории
os.chdir("source/")

# Отображать все столбцы
pd.set_option('display.max_columns', None)

# Отображать все строки
pd.set_option('display.max_rows', None)

In [3]:
# Загрузка данных из Excel
# data_loan = pd.read_excel("full_data.xlsx", sheet_name='ListPI1.csv')
# data_app = pd.read_excel("full_data.xlsx", sheet_name='ListP1.csv')
# data_beh = pd.read_excel("full_data.xlsx", sheet_name='ListB1.csv')

In [4]:
# Загрузка данных из CSV файлов
data_app = pd.read_csv('ListPI1.csv')
data_loan = pd.read_csv('ListP1.csv')
data_beh = pd.read_csv('ListB1.csv')

C:\Users\F_Jumaev\AppData\Local\Temp\ipykernel_16728\501409823.py:2: DtypeWarning: Columns (17,18,25,26,31,32,33) have mixed types. Specify dtype option on import or set low_memory=False.
  data_app = pd.read_csv('ListPI1.csv')
C:\Users\F_Jumaev\AppData\Local\Temp\ipykernel_16728\501409823.py:4: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  data_beh = pd.read_csv('ListB1.csv')

# Объединение данных по Account ID

In [5]:
logging.info("Объединение данных по 'Account ID'.")
res = data_loan.merge(data_app, on="Account ID", how="left", suffixes=('_loan', '_app'))
res = res.merge(data_beh, on="Account ID", how="left", suffixes=('', '_beh'))

2024-12-05 16:52:50,087 - INFO - Объединение данных по 'Account ID'.

# Преобразование названий столбцов в snake_case

In [6]:
logging.info("Просмотр название столбцов до преобразования")
for i, column in enumerate(res.columns.to_list()):
    print(f"{i} <=> {column}")

2024-12-05 16:52:51,772 - INFO - Просмотр название столбцов до преобразования

0 <=> Customer ID_loan
1 <=> Application ID_loan
2 <=> Account ID
3 <=> Branch ID
4 <=> Product ID
5 <=> Application date
6 <=> Date loan granted
7 <=> Loan Amount
8 <=> First instalment due date
9 <=> Interest rate
10 <=> Collateral type
11 <=> Value of collateral
12 <=> Property type/Collateral type
13 <=> Salary payment in bank account
14 <=> Loan type
15 <=> # of instalments
16 <=> Instalment amount/Min instalment amount
17 <=> Customer ID_app
18 <=> Application ID_app
19 <=> Date of birth
20 <=> Gender
21 <=> City of Living
22 <=> Region of living
23 <=> City of registration
24 <=> Region of registration
25 <=> Work phone number
26 <=> Mobile phone number
27 <=> Education
28 <=> Marital status
29 <=> # Dependants
30 <=> # Children
31 <=> # months at current address
32 <=> Employment type
33 <=> Employment sector
34 <=> Employment segment
35 <=> # months at job
36 <=> Net main income
37 <=> Source of main income
38 <=> Additional income
39 <=> Source of additional income
40 <=> Reported expenses
41 <=> Months with bank
42 <=> Current exposure
43 <=> Client type
44 <=> Property object
45 <=> Наличие Эсхата онлайн
46 <=> Наличие пластиковых карт
47 <=> Наличие депозита
48 <=> Состояние
49 <=> Причина отказа
50 <=> Run Date
51 <=> Customer ID
52 <=> Date account opened
53 <=> Current balance
54 <=> Date last payment
55 <=> Date final payment
56 <=> Due date
57 <=> Payment amount
58 <=> Account status
59 <=> # of payments in arrears
60 <=> кумулятивная просрочка
61 <=> Amount due – Instalment
62 <=> Principal amount
63 <=> Interest accrued
64 <=> Outstanding balance
65 <=> Arrears amount
66 <=> Current days past due
67 <=> Maximum days past due
68 <=> Maximum days past due lifetime
69 <=> Default flag
70 <=> Кол-во пролонгации
71 <=> Рейтинг БКИ
72 <=> Количество кредитов  в БКИ (заемщик)
73 <=> FTD-1
74 <=> FTD-2
75 <=> FTD-3
76 <=> FTD-4

In [7]:
# Функция для преобразования названий столбцов в snake_case
def to_snake_case(column_name):
    return column_name.lower().replace('.', '_').replace('#', 'number').replace(' ', '_')

logging.info("Преобразование названий столбцов в snake_case.")

res.columns = [to_snake_case(col) for col in res.columns]

2024-12-05 16:52:51,803 - INFO - Преобразование названий столбцов в snake_case.

In [8]:
logging.info("Просмотр название столбцов после преобразования")
for i, column in enumerate(res.columns.to_list()):
    print(f"{i} <=> {column}")

2024-12-05 16:52:51,822 - INFO - Просмотр название столбцов после преобразования

0 <=> customer_id_loan
1 <=> application_id_loan
2 <=> account_id
3 <=> branch_id
4 <=> product_id
5 <=> application_date
6 <=> date_loan_granted
7 <=> loan_amount
8 <=> first_instalment_due_date
9 <=> interest_rate
10 <=> collateral_type
11 <=> value_of_collateral
12 <=> property_type/collateral_type
13 <=> salary_payment_in_bank_account
14 <=> loan_type
15 <=> number_of_instalments
16 <=> instalment_amount/min_instalment_amount
17 <=> customer_id_app
18 <=> application_id_app
19 <=> date_of_birth
20 <=> gender
21 <=> city_of_living
22 <=> region_of_living
23 <=> city_of_registration
24 <=> region_of_registration
25 <=> work_phone_number
26 <=> mobile_phone_number
27 <=> education
28 <=> marital_status
29 <=> number_dependants
30 <=> number_children
31 <=> number_months_at_current_address
32 <=> employment_type
33 <=> employment_sector
34 <=> employment_segment
35 <=> number_months_at_job
36 <=> net_main_income
37 <=> source_of_main_income
38 <=> additional_income
39 <=> source_of_additional_income
40 <=> reported_expenses
41 <=> months_with_bank
42 <=> current_exposure
43 <=> client_type_
44 <=> property_object
45 <=> наличие_эсхата_онлайн
46 <=> наличие_пластиковых_карт
47 <=> наличие_депозита
48 <=> состояние
49 <=> причина_отказа
50 <=> run_date
51 <=> customer_id
52 <=> date_account_opened
53 <=> current_balance
54 <=> date_last_payment
55 <=> date_final_payment
56 <=> due_date
57 <=> payment_amount
58 <=> account_status
59 <=> number_of_payments_in_arrears
60 <=> кумулятивная_просрочка
61 <=> amount_due_–_instalment
62 <=> principal_amount
63 <=> interest_accrued
64 <=> outstanding_balance
65 <=> arrears_amount
66 <=> current_days_past_due
67 <=> maximum_days_past_due
68 <=> maximum_days_past_due_lifetime
69 <=> default_flag
70 <=> кол-во_пролонгации
71 <=> рейтинг_бки
72 <=> количество_кредитов__в_бки_(заемщик)
73 <=> ftd-1
74 <=> ftd-2
75 <=> ftd-3
76 <=> ftd-4

# Удаление дублириющих переменных

In [9]:
res = res.drop(['application_id_app', 'customer_id_app', 'customer_id'], axis=1)
res = res.rename(columns={
    'customer_id_loan': 'customer_id',
    'application_id_loan': 'application_id'
})

# Переименование столбцов с русскими именами на английские

In [10]:
logging.info("Просмотр название столбцов после переименования")
res.head(2)

2024-12-05 16:52:52,557 - INFO - Просмотр название столбцов после переименования

,customer_id,application_id,account_id,branch_id,product_id,application_date,date_loan_granted,loan_amount,first_instalment_due_date,interest_rate,collateral_type,value_of_collateral,property_type/collateral_type,salary_payment_in_bank_account,loan_type,number_of_instalments,instalment_amount/min_instalment_amount,date_of_birth,gender,city_of_living,region_of_living,city_of_registration,region_of_registration,work_phone_number,mobile_phone_number,education,marital_status,number_dependants,number_children,number_months_at_current_address,employment_type,employment_sector,employment_segment,number_months_at_job,net_main_income,source_of_main_income,additional_income,source_of_additional_income,reported_expenses,months_with_bank,current_exposure,client_type_,property_object,наличие_эсхата_онлайн,наличие_пластиковых_карт,наличие_депозита,состояние,причина_отказа,run_date,date_account_opened,current_balance,date_last_payment,date_final_payment,due_date,payment_amount,account_status,number_of_payments_in_arrears,кумулятивная_просрочка,amount_due_–_instalment,principal_amount,interest_accrued,outstanding_balance,arrears_amount,current_days_past_due,maximum_days_past_due,maximum_days_past_due_lifetime,default_flag,кол-во_пролонгации,рейтинг_бки,количество_кредитов__в_бки_(заемщик),ftd-1,ftd-2,ftd-3,ftd-4
0,25121517058,764446/КР,35619143897,"ФИЛИАЛИ ЧСК ""БОНКИ ЭСХАТА"" ДАР Ш.ДУШАНБЕ",Карзхои гуногунмаксад,2021-10-19,2021-11-02,12300.0,2021-12-02,31.0,NaN,NaN,NaN,Нет,Многоцелевые кредиты_005_аннуитет,18,863.0,1998-01-07 00:00:00,Женский,нохияи Фирдавси,Душанбе,Фирдавси,Душанбе,992000805085,NaN,Высшее,Не замужем,0,2,0,Имеет другой источник дохода,NaN,NaN,0,3121.36,Прочее,NaN,NaN,1272.0,36,0.0,0,Квартира,Да,Да,0.0,NaN,NaN,2023-06-30,2021-11-02,0.0,NaN,2023-04-20,NaN,NaN,Закрыт,NaN,0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN,0,NaN,0,0,0,0,0
1,847140141,766801/КР,35733163635,"ФИЛИАЛИ ЧСК ""БОНКИ ЭСХАТА"" ДАР Ш.ИСТАРАВШАН",Карзхои гуногунмаксад,2021-10-25,2021-11-01,20000.0,2021-12-01,30.0,1) Поручитель;,1) 0;,1) Поручитель;,Нет,Многоцелевые кредиты_005_аннуитет,24,1118.0,1969-05-16 00:00:00,Мужской,Истаравшан,Вилояти Сугд,Истаравшан,Вилояти Сугд,992985675558,NaN,Среднее,Женат,2,2,6,Собственный бизнес,Самозанятость,Услуги транспорта,276,3800.00,Прочее,NaN,NaN,1500.0,143,4691.17,1,Дом,Нет,Нет,0.0,NaN,NaN,2023-06-30,2021-11-01,0.0,2023-04-26,2023-10-26,2023-06-01,1118.0,Закрыт,NaN,0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN,0,NaN,5,0,0,0,0

In [11]:
rename_columns = {
    'наличие_эсхата_онлайн': 'eskhata_online',
    'наличие_пластиковых_карт': 'plastic_cards',
    'наличие_депозита': 'deposit',
    'кумулятивная_просрочка': 'cumulative_delinquency',
    'рейтинг_бки': 'bki_rating',
    'количество_кредитов__в_бки_(заемщик)': 'bki_number_of_loans',
    'состояние': 'state',
    'причина_отказа': 'rejection_reason',
    'кол-во_пролонгации': 'number_of_extensions'
    
}
logging.info("Переименование столбцов с русскими именами на английские.")
res.rename(columns=rename_columns, inplace=True)

2024-12-05 16:52:52,672 - INFO - Переименование столбцов с русскими именами на английские.

# Переименование столбцов для удобства

In [12]:
rename_columns = {
    'client_type_': 'client_type',
    'number_dependants':'dependants',
    'number_months_at_current_address':'months_at_current_address',
    'number_months_at_job':'months_at_job',
    'property_type/collateral_type': 'property_type',
    'instalment_amount/min_instalment_amount': 'instalment_amount',
    'amount_due_–_instalment': 'amount_due',
    'maximum_days_past_due': 'max_days_past_due',
    'maximum_days_past_due_lifetime': 'max_days_past_due_lifetime',
    'ftd-1': 'ftd_1',
    'ftd-2': 'ftd_2',
    'ftd-3': 'ftd_3',
    'ftd-4': 'ftd_4'
}

logging.info("Переименование столбцов")
res.rename(columns=rename_columns, inplace=True)

2024-12-05 16:52:52,700 - INFO - Переименование столбцов

In [13]:
logging.info("Просмотр название столбцов после переименования")
res.head(2)

2024-12-05 16:52:52,715 - INFO - Просмотр название столбцов после переименования

,customer_id,application_id,account_id,branch_id,product_id,application_date,date_loan_granted,loan_amount,first_instalment_due_date,interest_rate,collateral_type,value_of_collateral,property_type,salary_payment_in_bank_account,loan_type,number_of_instalments,instalment_amount,date_of_birth,gender,city_of_living,region_of_living,city_of_registration,region_of_registration,work_phone_number,mobile_phone_number,education,marital_status,dependants,number_children,months_at_current_address,employment_type,employment_sector,employment_segment,months_at_job,net_main_income,source_of_main_income,additional_income,source_of_additional_income,reported_expenses,months_with_bank,current_exposure,client_type,property_object,eskhata_online,plastic_cards,deposit,state,rejection_reason,run_date,date_account_opened,current_balance,date_last_payment,date_final_payment,due_date,payment_amount,account_status,number_of_payments_in_arrears,cumulative_delinquency,amount_due,principal_amount,interest_accrued,outstanding_balance,arrears_amount,current_days_past_due,max_days_past_due,max_days_past_due_lifetime,default_flag,number_of_extensions,bki_rating,bki_number_of_loans,ftd_1,ftd_2,ftd_3,ftd_4
0,25121517058,764446/КР,35619143897,"ФИЛИАЛИ ЧСК ""БОНКИ ЭСХАТА"" ДАР Ш.ДУШАНБЕ",Карзхои гуногунмаксад,2021-10-19,2021-11-02,12300.0,2021-12-02,31.0,NaN,NaN,NaN,Нет,Многоцелевые кредиты_005_аннуитет,18,863.0,1998-01-07 00:00:00,Женский,нохияи Фирдавси,Душанбе,Фирдавси,Душанбе,992000805085,NaN,Высшее,Не замужем,0,2,0,Имеет другой источник дохода,NaN,NaN,0,3121.36,Прочее,NaN,NaN,1272.0,36,0.0,0,Квартира,Да,Да,0.0,NaN,NaN,2023-06-30,2021-11-02,0.0,NaN,2023-04-20,NaN,NaN,Закрыт,NaN,0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN,0,NaN,0,0,0,0,0
1,847140141,766801/КР,35733163635,"ФИЛИАЛИ ЧСК ""БОНКИ ЭСХАТА"" ДАР Ш.ИСТАРАВШАН",Карзхои гуногунмаксад,2021-10-25,2021-11-01,20000.0,2021-12-01,30.0,1) Поручитель;,1) 0;,1) Поручитель;,Нет,Многоцелевые кредиты_005_аннуитет,24,1118.0,1969-05-16 00:00:00,Мужской,Истаравшан,Вилояти Сугд,Истаравшан,Вилояти Сугд,992985675558,NaN,Среднее,Женат,2,2,6,Собственный бизнес,Самозанятость,Услуги транспорта,276,3800.00,Прочее,NaN,NaN,1500.0,143,4691.17,1,Дом,Нет,Нет,0.0,NaN,NaN,2023-06-30,2021-11-01,0.0,2023-04-26,2023-10-26,2023-06-01,1118.0,Закрыт,NaN,0,0.0,0.0,0.0,0.0,0.0,0,0,0,NaN,0,NaN,5,0,0,0,0

# Подсчет количества дубликатов (не включая первую строку)

In [14]:
logging.info("Проверка дублирующихся строк по account_id")
display(res.duplicated(subset='account_id').sum())


logging.info("Проверка дублирующихся строк по customer_id")
display(res.duplicated(subset='customer_id').sum())


logging.info("Подсчет количества дубликатов по application_id")
display(res.duplicated(subset='application_id').sum())

2024-12-05 16:52:52,821 - INFO - Проверка дублирующихся строк по account_id

0

2024-12-05 16:52:52,838 - INFO - Проверка дублирующихся строк по customer_id

60704

2024-12-05 16:52:52,856 - INFO - Подсчет количества дубликатов по application_id

0

# Удаление дубликатов

In [15]:
# # Удаление дубликатов по account_id
# logging.info("Удаление дубликатов по account_id.")
# res.drop_duplicates(subset='account_id', keep='first', inplace=True)


# # Удаление дубликатов по application_id
# logging.info("Удаление дубликатов по application_id.")
# res.drop_duplicates(subset='application_id', keep='first', inplace=True)


# # Удаление дубликатов по customer_id
# logging.info("Удаление дубликатов по customer_id.")
# res.drop_duplicates(subset='customer_id_loan', keep='first', inplace=True)

In [16]:
# Создание копии датафрейма для дальнейшей обработки
df = res.copy()

# Преобразование необходимых столбцов в числовые значения

In [17]:
numeric_columns = [
    'net_main_income', 'additional_income', 'months_with_bank',
    'reported_expenses', 'deposit', 'current_exposure'
]
missing_numeric = [col for col in numeric_columns if col not in df.columns]
if missing_numeric:
    logging.warning(f"Отсутствуют следующие числовые столбцы: {missing_numeric}")
    

logging.info("Просмотр столбцов с числами")
display(df[numeric_columns].head())

logging.info("Просмотр типа столбцов с числами до преобразования")
display(df[numeric_columns].dtypes)

2024-12-05 16:52:53,082 - INFO - Просмотр столбцов с числами

,net_main_income,additional_income,months_with_bank,reported_expenses,deposit,current_exposure
0,3121.36,NaN,36,1272.0,0.0,0.0
1,3800.00,NaN,143,1500.0,0.0,4691.17
2,3500.00,NaN,61,1000.0,0.0,4301.47
3,2400.00,NaN,60,1000.0,0.0,1153.52
4,5700.00,NaN,20,3001.0,0.0,4938.37

2024-12-05 16:52:53,117 - INFO - Просмотр типа столбцов с числами до преобразования

net_main_income      float64
additional_income    float64
months_with_bank      object
reported_expenses    float64
deposit               object
current_exposure      object
dtype: object

In [18]:
existing_numeric_columns = [col for col in numeric_columns if col in df.columns]
logging.info("Преобразование числовых столбцов в числовые значения.")
df[existing_numeric_columns] = df[existing_numeric_columns].apply(pd.to_numeric, errors='coerce')

2024-12-05 16:52:53,165 - INFO - Преобразование числовых столбцов в числовые значения.

In [19]:
logging.info("Просмотр типа столбцов с числами после преобразования")
display(df[numeric_columns].dtypes)

2024-12-05 16:52:53,974 - INFO - Просмотр типа столбцов с числами после преобразования

net_main_income      float64
additional_income    float64
months_with_bank       int64
reported_expenses    float64
deposit              float64
current_exposure     float64
dtype: object

# Преобразование столбцов с датами в формат datetime

In [20]:
date_columns = [
    'application_date', 'date_of_birth', 'date_loan_granted', 'first_instalment_due_date',
    'date_last_payment', 'date_final_payment', 'due_date', 'date_account_opened'
]

logging.info("Просмотр столбцов с датами")
display(df[date_columns].head())

logging.info("Просмотр типа столбцов с датами до преобразования")
display(df[date_columns].dtypes)

2024-12-05 16:52:54,081 - INFO - Просмотр столбцов с датами

,application_date,date_of_birth,date_loan_granted,first_instalment_due_date,date_last_payment,date_final_payment,due_date,date_account_opened
0,2021-10-19,1998-01-07 00:00:00,2021-11-02,2021-12-02,NaN,2023-04-20,NaN,2021-11-02
1,2021-10-25,1969-05-16 00:00:00,2021-11-01,2021-12-01,2023-04-26,2023-10-26,2023-06-01,2021-11-01
2,2021-10-25,1991-03-02 00:00:00,2021-11-05,2021-12-06,2023-04-03,2023-10-26,2023-06-05,2021-11-05
3,2021-10-25,1966-10-23 00:00:00,2021-11-03,2021-12-03,2022-09-12,2022-10-26,NaN,2021-11-03
4,2021-10-26,2001-06-07 00:00:00,2021-11-03,2021-12-03,2022-04-27,2022-04-27,NaN,2021-11-03

2024-12-05 16:52:54,132 - INFO - Просмотр типа столбцов с датами до преобразования

application_date             object
date_of_birth                object
date_loan_granted            object
first_instalment_due_date    object
date_last_payment            object
date_final_payment           object
due_date                     object
date_account_opened          object
dtype: object

In [21]:
logging.info("Преобразование столбцов с датами в формат datetime.")
for col in date_columns:
    if col in df.columns:
        df[col] = pd.to_datetime(df[col], errors='coerce')

2024-12-05 16:52:54,210 - INFO - Преобразование столбцов с датами в формат datetime.

In [22]:
logging.info("Просмотр типа столбцов с датами после преобразования")
display(df[date_columns].dtypes)

2024-12-05 16:52:55,906 - INFO - Просмотр типа столбцов с датами после преобразования

application_date             datetime64[ns]
date_of_birth                datetime64[ns]
date_loan_granted            datetime64[ns]
first_instalment_due_date    datetime64[ns]
date_last_payment            datetime64[ns]
date_final_payment           datetime64[ns]
due_date                     datetime64[ns]
date_account_opened          datetime64[ns]
dtype: object

# Вычисление возраста и исправление неправилных значений

In [23]:
logging.info("Вычисление возраста.")
df['age'] = df['application_date'].dt.year - df['date_of_birth'].dt.year

2024-12-05 16:52:55,963 - INFO - Вычисление возраста.

In [24]:
logging.info("Подсчет количество возрастов меньше 18 до корректировки")
display(df.query('age < 18').age.count())

2024-12-05 16:52:56,103 - INFO - Подсчет количество возрастов меньше 18 до корректировки

4

In [25]:
logging.info("Корректировка неправилных возрастов")

# Корректировка возраста, если месяц или день рождения еще не наступили в году заявки (но такие были исправлены вручную)
df.loc[
    (df['application_date'].dt.month < df['date_of_birth'].dt.month) |
    ((df['application_date'].dt.month == df['date_of_birth'].dt.month) &
     (df['application_date'].dt.day < df['date_of_birth'].dt.day)),
    'age'
] -= 1

# Исправление некоторых возрастов (которые были проверены и исправлены вручную)
df.loc[df['age'] == 17, 'age'] = 18
df.loc[df['age'] == 0, 'age'] = 27
df.loc[df['age'] == -1, 'age'] = 33
df['age'] = df['age'].fillna(df['age'].mean())

# Удаление отрицательных возрастов, если они остались
df['age'] = df['age'].where(df['age'] >= 0, np.nan)

# Приведение возраста к целочисленному типу
df.age = np.floor(df.age).astype(np.int64)

2024-12-05 16:52:56,219 - INFO - Корректировка неправилных возрастов

In [26]:
logging.info("Подсчет количество возрастов меньше 18 после корректировки")
display(df.query('age < 18').age.count())

2024-12-05 16:52:56,636 - INFO - Подсчет количество возрастов меньше 18 после корректировки

0

# Создание столбцов необходимых для дальнейших вычисленый

In [27]:
# Создание столбца месяц/год выдачи кредита как год * 100 + месяц
logging.info("Создание столбца год/месяц выдачи кредита как год.")
df['loan_month'] = df['application_date'].dt.year * 100 + df['application_date'].dt.month

# Признак совпадения города проживания и регистрации
logging.info("Создание признака совпадения города проживания и регистрации.")
df['city_of_living_eq_registration'] = (df['city_of_living'] == df['city_of_registration']).astype(int)

# Признак наличия залога
logging.info("Создание признака наличия залога.")
df['is_collateral'] = df['deposit'].notna().astype(int)

2024-12-05 16:52:56,722 - INFO - Создание столбца год/месяц выдачи кредита как год.
2024-12-05 16:52:56,806 - INFO - Создание признака совпадения города проживания и регистрации.
2024-12-05 16:52:56,855 - INFO - Создание признака наличия залога.

In [28]:
new_tables = [
    'age',
    'loan_month',
    'city_of_living_eq_registration',
    'is_collateral'
]

logging.info("Просмотр новых таблиц")
display(df[new_tables].head(5))
display(df[new_tables].dtypes)

2024-12-05 16:52:56,888 - INFO - Просмотр новых таблиц

   age  loan_month  city_of_living_eq_registration  is_collateral
0   23      202110                               0              1
1   52      202110                               1              1
2   30      202110                               1              1
3   55      202110                               0              1
4   20      202110                               1              1

age                               int64
loan_month                        int64
city_of_living_eq_registration    int32
is_collateral                     int32
dtype: object

# Создание временного датафрейма для анализа предыдущих заявок

In [29]:
logging.info("Создание временного DataFrame для анализа предыдущих заявок.")
temp_df = df.copy()

# Сортировка по customer_id и application_date для корректного сдвига
logging.info("Сортировка по 'customer_id' и 'application_date'.")
temp_df = temp_df.sort_values(['customer_id', 'application_date'])

# Добавление предыдущей даты заявки и предыдущей максимальной просрочки
logging.info("Добавление предыдущей даты заявки и предыдущей максимальной просрочки.")
temp_df['prev_application_date'] = temp_df.groupby('customer_id')['application_date'].shift(1)
temp_df['prev_max_days_past_due'] = temp_df.groupby('customer_id')['max_days_past_due_lifetime'].shift(1)


# Убираем записи без предыдущих заявок
logging.info("Удаление записей без предыдущих заявок.")
temp_df = temp_df.dropna(subset=['prev_application_date'])

2024-12-05 16:52:57,003 - INFO - Создание временного DataFrame для анализа предыдущих заявок.
2024-12-05 16:52:57,088 - INFO - Сортировка по 'customer_id' и 'application_date'.
2024-12-05 16:52:57,733 - INFO - Добавление предыдущей даты заявки и предыдущей максимальной просрочки.
2024-12-05 16:52:57,859 - INFO - Удаление записей без предыдущих заявок.

# Подсчет количества предыдущих заявок и максимальной просрочки

In [30]:
logging.info("Группировка по 'account_id' для подсчета количества предыдущих заявок и максимальной просрочки.")
acc_numb_before = temp_df.groupby('account_id').agg(
    cnt=('customer_id', 'count'),
    max_max_days_past_due=('prev_max_days_past_due', 'max')
).reset_index()

logging.info("Пример данных после группировки:")
print("\nacc_numb_before.head():")
print(acc_numb_before.head())

logging.info("Добавление флага существующего клиента.")
acc_numb_before['existing_client'] = np.where(acc_numb_before['cnt'] > 1, 1, 0)

2024-12-05 16:52:58,072 - INFO - Группировка по 'account_id' для подсчета количества предыдущих заявок и максимальной просрочки.
2024-12-05 16:52:58,138 - INFO - Пример данных после группировки:
2024-12-05 16:52:58,142 - INFO - Добавление флага существующего клиента.

acc_numb_before.head():
    account_id  cnt  max_max_days_past_due
0  36002196446    1                    4.0
1  36003105046    1                   17.0
2  36031268759    1                    0.0
3  36054772668    1                    3.0
4  36060574691    1                    0.0

In [31]:
# Объединение с основным датафреймом
logging.info("Объединение 'acc_numb_before' с основным DataFrame.")
df = df.merge(
    acc_numb_before[['account_id', 'cnt', 'max_max_days_past_due']], 
    on='account_id', 
    how='left'
)

2024-12-05 16:52:58,173 - INFO - Объединение 'acc_numb_before' с основным DataFrame.

In [32]:
# Проверка наличия столбца cnt после объединения
logging.info("Проверка наличия столбца cnt после объединения.")
print("\nСтолбцы после объединения acc_numb_before:")
for column in df.columns.tolist():
    print(column)

2024-12-05 16:52:58,813 - INFO - Проверка наличия столбца cnt после объединения.

Столбцы после объединения acc_numb_before:
customer_id
application_id
account_id
branch_id
product_id
application_date
date_loan_granted
loan_amount
first_instalment_due_date
interest_rate
collateral_type
value_of_collateral
property_type
salary_payment_in_bank_account
loan_type
number_of_instalments
instalment_amount
date_of_birth
gender
city_of_living
region_of_living
city_of_registration
region_of_registration
work_phone_number
mobile_phone_number
education
marital_status
dependants
number_children
months_at_current_address
employment_type
employment_sector
employment_segment
months_at_job
net_main_income
source_of_main_income
additional_income
source_of_additional_income
reported_expenses
months_with_bank
current_exposure
client_type
property_object
eskhata_online
plastic_cards
deposit
state
rejection_reason
run_date
date_account_opened
current_balance
date_last_payment
date_final_payment
due_date
payment_amount
account_status
number_of_payments_in_arrears
cumulative_delinquency
amount_due
principal_amount
interest_accrued
outstanding_balance
arrears_amount
current_days_past_due
max_days_past_due
max_days_past_due_lifetime
default_flag
number_of_extensions
bki_rating
bki_number_of_loans
ftd_1
ftd_2
ftd_3
ftd_4
age
loan_month
city_of_living_eq_registration
is_collateral
cnt
max_max_days_past_due

In [33]:
if 'cnt' not in df.columns:
    logging.error("Столбец 'cnt' отсутствует в DataFrame после объединения. Проверьте корректность группировки и объединения.")
    raise KeyError("Столбец 'cnt' отсутствует в DataFrame после объединения.")
else:
    # Заполнение пропусков в previous_loans_count нулями
    logging.info("Заполнение пропусков в 'previous_loans_count' нулями.")
    df['previous_loans_count'] = df['cnt'].fillna(0).astype(int)
    
    # Создание бинарных признаков для просроченности
    logging.info("Создание бинарных признаков для просроченности.")
    df.loc[:, 'gb_90ever'] = (df['max_days_past_due_lifetime'] >= 90).astype(int)
    df.loc[:, 'gb_cum_dlq_90'] = (df['cumulative_delinquency'] >= 90).astype(int)
    df.loc[:, 'gb_60ever'] = (df['max_days_past_due_lifetime'] >= 60).astype(int)
    
    # Удаление временных столбцов
#     logging.info("Удаление временных столбцов 'cnt' и 'max_max_days_past_due'.")
#     df.drop(['cnt', 'max_max_days_past_due'], axis=1, inplace=True)

2024-12-05 16:52:58,843 - INFO - Заполнение пропусков в 'previous_loans_count' нулями.
2024-12-05 16:52:58,851 - INFO - Создание бинарных признаков для просроченности.

# Преобразование строковых переменных в категориальные

In [34]:
logging.info("Преобразование строковых переменных в категориальные.")
object_columns = df.select_dtypes(include=['object']).columns
df[object_columns] = df[object_columns].astype('category')

2024-12-05 16:52:58,884 - INFO - Преобразование строковых переменных в категориальные.

# Структура датафрейма после преобразований

In [35]:
logging.info("Просмотр структуры датафрейма после преобразований.")
print(df.info())

2024-12-05 16:53:03,863 - INFO - Просмотр структуры датафрейма после преобразований.

<class 'pandas.core.frame.DataFrame'>
Int64Index: 235698 entries, 0 to 235697
Data columns (total 84 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   customer_id                     235698 non-null  int64
 1   application_id                  235698 non-null  category
 2   account_id                      235698 non-null  int64
 3   branch_id                       235698 non-null  category
 4   product_id                      235698 non-null  category
 5   application_date                235698 non-null  datetime64[ns]
 6   date_loan_granted               235698 non-null  datetime64[ns]
 7   loan_amount                     235698 non-null  float64
 8   first_instalment_due_date       235688 non-null  datetime64[ns]
 9   interest_rate                   235698 non-null  float64
 10  collateral_type                 26477 non-null   category
 11  value_of_collateral             26477 non-null   category
 12  property_type                   26477 non-null   category
 13  salary_payment_in_bank_account  235698 non-null  category
 14  loan_type                       235698 non-null  category
 15  number_of_instalments           235698 non-null  int64
 16  instalment_amount               234490 non-null  float64
 17  date_of_birth                   235697 non-null  datetime64[ns]
 18  gender                          235698 non-null  category
 19  city_of_living                  235698 non-null  category
 20  region_of_living                235698 non-null  category
 21  city_of_registration            235698 non-null  category
 22  region_of_registration          235698 non-null  category
 23  work_phone_number               225416 non-null  category
 24  mobile_phone_number             14542 non-null   category
 25  education                       223507 non-null  category
 26  marital_status                  235423 non-null  category
 27  dependants                      235698 non-null  int64
 28  number_children                 235698 non-null  int64
 29  months_at_current_address       235698 non-null  int64
 30  employment_type                 235405 non-null  category
 31  employment_sector               148291 non-null  category
 32  employment_segment              148133 non-null  category
 33  months_at_job                   235698 non-null  int64
 34  net_main_income                 235662 non-null  float64
 35  source_of_main_income           234634 non-null  category
 36  additional_income               52926 non-null   float64
 37  source_of_additional_income     52496 non-null   category
 38  reported_expenses               235690 non-null  float64
 39  months_with_bank                235698 non-null  int64
 40  current_exposure                235672 non-null  float64
 41  client_type                     235698 non-null  int64
 42  property_object                 235684 non-null  category
 43  eskhata_online                  235698 non-null  category
 44  plastic_cards                   235698 non-null  category
 45  deposit                         235698 non-null  float64
 46  state                           0 non-null       category
 47  rejection_reason                0 non-null       category
 48  run_date                        235698 non-null  category
 49  date_account_opened             235698 non-null  datetime64[ns]
 50  current_balance                 235698 non-null  float64
 51  date_last_payment               224178 non-null  datetime64[ns]
 52  date_final_payment              235698 non-null  datetime64[ns]
 53  due_date                        187783 non-null  datetime64[ns]
 54  payment_amount                  187783 non-null  float64
 55  account_status                  235698 non-null  category
 56  number_of_payments_in_arrears   11872 non-null   float64
 57  cumulative_delinquency          235698 non-null  int64
 58  amount_due                      235698 non-null  float64
 59  principal_amount                235698 non-null  float64
 60  interest_accrued                235698 non-null  float64
 61  outstanding_balance             235698 non-null  float64
 62  arrears_amount                  235698 non-null  float64
 63  current_days_past_due           235698 non-null  int64
 64  max_days_past_due               235698 non-null  int64
 65  max_days_past_due_lifetime      235698 non-null  int64
 66  default_flag                    1682 non-null    category
 67  number_of_extensions            235698 non-null  int64
 68  bki_rating                      87382 non-null   category
 69  bki_number_of_loans             235698 non-null  int64
 70  ftd_1                           235698 non-null  int64
 71  ftd_2                           235698 non-null  int64
 72  ftd_3                           235698 non-null  int64
 73  ftd_4                           235698 non-null  int64
 74  age                             235698 non-null  int64
 75  loan_month                      235698 non-null  int64
 76  city_of_living_eq_registration  235698 non-null  int32
 77  is_collateral                   235698 non-null  int32
 78  cnt                             60704 non-null   float64
 79  max_max_days_past_due           60704 non-null   float64
 80  previous_loans_count            235698 non-null  int32
 81  gb_90ever                       235698 non-null  int32
 82  gb_cum_dlq_90                   235698 non-null  int32
 83  gb_60ever                       235698 non-null  int32
dtypes: category(31), datetime64[ns](8), float64(18), int32(6), int64(21)
memory usage: 116.6 MB
None

In [36]:
# Вычисляем количество пропущенных значений в каждом столбце
missing_values = df.isnull().sum()
columns_with_missing = missing_values[missing_values > 0]
columns_with_missing

first_instalment_due_date            10
collateral_type                  209221
value_of_collateral              209221
property_type                    209221
instalment_amount                  1208
date_of_birth                         1
work_phone_number                 10282
mobile_phone_number              221156
education                         12191
marital_status                      275
employment_type                     293
employment_sector                 87407
employment_segment                87565
net_main_income                      36
source_of_main_income              1064
additional_income                182772
source_of_additional_income      183202
reported_expenses                     8
current_exposure                     26
property_object                      14
state                            235698
rejection_reason                 235698
date_last_payment                 11520
due_date                          47915
payment_amount                    47915
number_of_payments_in_arrears    223826
default_flag                     234016
bki_rating                       148316
cnt                              174994
max_max_days_past_due            174994
dtype: int64

# Сводные статистики

In [37]:
# for column in df.columns.to_list():
#     plt.figure(figsize=(10, 6))
#     plt.hist(df[column], bins=50, alpha=0.7, label=column)
#     plt.xlabel(column)
#     plt.show()

# Выбор необходимых столбцов

In [38]:
include_vars = [
    "customer_id",
    "account_id",
    "loan_amount",
    "is_collateral",
    "salary_payment_in_bank_account",
    "age",
    "gender",
    "region_of_living",
    "region_of_registration",
    "city_of_living_eq_registration",
    "education",
    "marital_status",
    "dependants",
    "months_at_current_address",
    "employment_type",
    "employment_segment",
    "months_at_job",
    "net_main_income",
    "source_of_main_income",
    "additional_income",
    "reported_expenses",
    "months_with_bank",
    "client_type",
    "property_object",
    "eskhata_online",
    "plastic_cards",
    "deposit",
    "gb_90ever",
    "gb_cum_dlq_90",
    "gb_60ever",
    "bki_rating",
    "bki_number_of_loans",
    "loan_month",
    "previous_loans_count",
    "max_max_days_past_due",
]

In [67]:
def get_describe_df(df):
    describe = {
        'column': [i for i in df.columns],
        'notnull': [df[i].notnull().sum() for i in df.columns],
        'null': [df[i].isnull().sum() for i in df.columns],
        'N_unique': [df[i].nunique() for i in df.columns],
        'dtype': [df[i].dtype for i in df.columns],
    }
    return pd.DataFrame.from_dict(describe)

In [69]:
get_describe_df(df_selected)

                            column  notnull    null  N_unique     dtype
0                      customer_id   235698       0    174994     int64
1                       account_id   235698       0    235698     int64
2                      loan_amount   235698       0      2397   float64
3                    is_collateral   235698       0         1     int32
4   salary_payment_in_bank_account   235698       0         2  category
5                              age   235698       0        67     int64
6                           gender   235698       0         2  category
7                 region_of_living   235698       0         5  category
8           region_of_registration   235698       0         5  category
9   city_of_living_eq_registration   235698       0         2     int32
10                       education   223507   12191         7  category
11                  marital_status   235423     275         8  category
12                      dependants   235698       0        22     int64
13       months_at_current_address   235698       0        83     int64
14                 employment_type   235405     293         3  category
15              employment_segment   148133   87565        56  category
16                   months_at_job   235698       0       389     int64
17                 net_main_income   235662      36     11620   float64
18           source_of_main_income   234634    1064         6  category
19               additional_income    52926  182772      3310   float64
20               reported_expenses   235690       8      4347   float64
21                months_with_bank   235698       0       235     int64
22                     client_type   235698       0         2     int64
23                 property_object   235684      14         7  category
24                  eskhata_online   235698       0         3  category
25                   plastic_cards   235698       0         2  category
26                         deposit   235698       0      1288   float64
27                       gb_90ever   235698       0         2     int32
28                   gb_cum_dlq_90   235698       0         2     int32
29                       gb_60ever   235698       0         2     int32
30                      bki_rating    87382  148316        10  category
31             bki_number_of_loans   235698       0       300     int64
32                      loan_month   235698       0        21     int64
33            previous_loans_count   235698       0         2     int32
34           max_max_days_past_due    60704  174994       147   float64

In [39]:
# Проверка наличия всех столбцов
missing_columns = [col for col in include_vars if col not in df.columns]
if missing_columns:
    logging.warning(f"Отсутствуют следующие столбцы: {missing_columns}")

In [40]:
# Создание нового датафрейма с выбранными столбцами (только существующие)
existing_include_vars = [col for col in include_vars if col in df.columns]
df_selected = df[existing_include_vars].copy()

# Группировка по loan_month и вычисление показателей просроченности

In [41]:
logging.info("Группировка по 'loan_month' и вычисление показателей просроченности.")
rep_gb_90ever_month = df_selected.groupby('loan_month').agg(
    count=('gb_90ever', 'count'),
    bad_num=('gb_90ever', 'sum'),
    bad_rate=('gb_90ever', 'mean')
).reset_index()

rep_gb_cum_dlq_90_month = df_selected.groupby('loan_month').agg(
    count=('gb_cum_dlq_90', 'count'),
    bad_num=('gb_cum_dlq_90', 'sum'),
    bad_rate=('gb_cum_dlq_90', 'mean')
).reset_index()

rep_gb_60ever_month = df_selected.groupby('loan_month').agg(
    count=('gb_60ever', 'count'),
    bad_num=('gb_60ever', 'sum'),
    bad_rate=('gb_60ever', 'mean')
).reset_index()

2024-12-05 16:53:04,697 - INFO - Группировка по 'loan_month' и вычисление показателей просроченности.

# Создание выборок по типу занятости

In [42]:
logging.info("Создание выборок по типу занятости.")
sample_empl = df_selected[
    (df_selected['employment_type'] == "Работает в организации") &
    (df_selected['employment_segment'].isin([
        "Мед. работник",
        "Работник в сфере образования",
        "Работник госструктур",
        "Работник НПО (Ташкилоти Чамъияти)",
        "Работник производства",
        "Работник сельского хозяйство",
        "Работник частной организации",
        "Строитель",
        "Экономист"
    ]))
].copy()

sample_bus = df_selected[
    (df_selected['employment_type'] == "Собственный бизнес") &
    (df_selected['employment_segment'].isin([
        "Агро",
        "Производство",
        "Торговля",
        "Услуги",
        "Услуги Мастера",
        "Услуги транспорта"
    ]))
].copy()

sample_other = df_selected[
    (df_selected['employment_type'] == "Имеет другой источник дохода") &
    (df_selected['employment_segment'].isna())
].copy()

2024-12-05 16:53:04,806 - INFO - Создание выборок по типу занятости.

In [43]:
logging.info("Вывод размеров выборок.")
print(f"\nРазмер выборки для работников: {sample_empl.shape[0]}")
print(f"Размер выборки для бизнесменов: {sample_bus.shape[0]}")
print(f"Размер выборки для других источников дохода: {sample_other.shape[0]}")

2024-12-05 16:53:04,935 - INFO - Вывод размеров выборок.

Размер выборки для работников: 51546
Размер выборки для бизнесменов: 79305
Размер выборки для других источников дохода: 85248

# Создание выборки для анализа

In [44]:
# Пример выбора выборки для анализа
sample = sample_empl.copy()
# sample = sample_bus.copy()
# sample = sample_other.copy()

logging.info("Структура выбранной выборки:")
print(sample.info())

2024-12-05 16:53:04,963 - INFO - Структура выбранной выборки:

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51546 entries, 8 to 235696
Data columns (total 35 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   customer_id                     51546 non-null  int64
 1   account_id                      51546 non-null  int64
 2   loan_amount                     51546 non-null  float64
 3   is_collateral                   51546 non-null  int32
 4   salary_payment_in_bank_account  51546 non-null  category
 5   age                             51546 non-null  int64
 6   gender                          51546 non-null  category
 7   region_of_living                51546 non-null  category
 8   region_of_registration          51546 non-null  category
 9   city_of_living_eq_registration  51546 non-null  int32
 10  education                       48720 non-null  category
 11  marital_status                  51462 non-null  category
 12  dependants                      51546 non-null  int64
 13  months_at_current_address       51546 non-null  int64
 14  employment_type                 51546 non-null  category
 15  employment_segment              51546 non-null  category
 16  months_at_job                   51546 non-null  int64
 17  net_main_income                 51542 non-null  float64
 18  source_of_main_income           51301 non-null  category
 19  additional_income               22898 non-null  float64
 20  reported_expenses               51546 non-null  float64
 21  months_with_bank                51546 non-null  int64
 22  client_type                     51546 non-null  int64
 23  property_object                 51543 non-null  category
 24  eskhata_online                  51546 non-null  category
 25  plastic_cards                   51546 non-null  category
 26  deposit                         51546 non-null  float64
 27  gb_90ever                       51546 non-null  int32
 28  gb_cum_dlq_90                   51546 non-null  int32
 29  gb_60ever                       51546 non-null  int32
 30  bki_rating                      19774 non-null  category
 31  bki_number_of_loans             51546 non-null  int64
 32  loan_month                      51546 non-null  int64
 33  previous_loans_count            51546 non-null  int32
 34  max_max_days_past_due           12592 non-null  float64
dtypes: category(13), float64(6), int32(6), int64(10)
memory usage: 8.5 MB
None

# Определение целевой переменной

In [45]:
# Создание переменной gb
logging.info("Создание целевой переменной 'gb'.")
sample.loc[:, 'gb'] = sample['gb_60ever']\

# sample.loc[:, 'gb'] = sample['gb_cum_dlq_90']

2024-12-05 16:53:05,021 - INFO - Создание целевой переменной 'gb'.

# Семплирование
## Создание выборок для Train и Test

In [46]:
# Выборка для обучения модели
dev = sample[(sample['loan_month'] >= 202110) & (sample['loan_month'] < 202210)].drop(columns=['loan_month']).copy()

# Выборка для тестирования модели на временную устойчивость
oot = sample[(sample['loan_month'] >= 202210) & (sample['loan_month'] < 202303)].copy()

# Выборка для кросс-валидации внутри обучающей выборки
oot2 = sample[(sample['loan_month'] >= 202207) & (sample['loan_month'] < 202210)].copy()

# Выборка для финального обучения модели
dev_final = sample[(sample['loan_month'] >= 202110) & (sample['loan_month'] < 202302)].drop(columns=['loan_month']).copy()

In [47]:
# Изучение распределений
logging.info("Изучение распределений в выборках.")
print("\nРаспределение в Development Sample:")
print(dev[['gb']].agg(['count', 'sum']))
print(dev[['gb']].agg(['count', 'sum']) / len(dev))

print("\nРаспределение в Out-of-time Sample:")
print(oot[['gb']].agg(['count', 'sum']))
print(oot[['gb']].agg(['count', 'sum']) / len(oot))

print("\nРаспределение в Out-of-time 2 Sample:")
print(oot2[['gb']].agg(['count', 'sum']))
print(oot2[['gb']].agg(['count', 'sum']) / len(oot2))

print("\nРаспределение в Development Final Sample:")
print(dev_final[['gb']].agg(['count', 'sum']))
print(dev_final[['gb']].agg(['count', 'sum']) / len(dev_final))

2024-12-05 16:53:05,126 - INFO - Изучение распределений в выборках.

Распределение в Development Sample:
          gb
count  27834
sum      599
            gb
count  1.00000
sum    0.02152

Распределение в Out-of-time Sample:
          gb
count  12429
sum       80
             gb
count  1.000000
sum    0.006437

Распределение в Out-of-time 2 Sample:
         gb
count  9355
sum     139
             gb
count  1.000000
sum    0.014858

Распределение в Development Final Sample:
          gb
count  37636
sum      669
             gb
count  1.000000
sum    0.017776

In [48]:
# Вывод количества строк в каждой выборке
logging.info("Вывод количества строк в каждой выборке.")
print(f"\nКоличество строк в Development Sample: {dev.shape[0]}")
print(f"Количество строк в Out-of-time Sample: {oot.shape[0]}")
print(f"Количество строк в Out-of-time 2 Sample: {oot2.shape[0]}")
print(f"Количество строк в Development Final Sample: {dev_final.shape[0]}")

2024-12-05 16:53:05,198 - INFO - Вывод количества строк в каждой выборке.

Количество строк в Development Sample: 27834
Количество строк в Out-of-time Sample: 12429
Количество строк в Out-of-time 2 Sample: 9355
Количество строк в Development Final Sample: 37636

# MACHINE LEARNING

In [49]:
import pandas as pd
import numpy as np
import scorecardpy as sc
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score, classification_report, confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.feature_selection import VarianceThreshold
from imblearn.over_sampling import SMOTE
import matplotlib.pyplot as plt
import seaborn as sns
import logging
import json
import statsmodels.api as sm
import joblib

# Расчет Information Value (IV)

In [50]:
logging.info("Расчет Information Value (IV) для всех переменных в dev_final.")
iv_values_final = sc.iv(dt=dev_final, y='gb')

2024-12-05 16:53:10,564 - INFO - Расчет Information Value (IV) для всех переменных в dev_final.

In [51]:
# Просмотр структуры и первых строк DataFrame iv_values_final
print("Структура iv_values_final:")
print(iv_values_final.columns)

print("\nПервые 5 строк iv_values_final:")
print(iv_values_final.head())

Структура iv_values_final:
Index(['variable', 'info_value'], dtype='object')

Первые 5 строк iv_values_final:
             variable  info_value
32          gb_60ever   17.210712
14      gb_cum_dlq_90    7.762180
13          gb_90ever    6.407824
10  additional_income    2.209887
8         loan_amount    1.865620

# Отбор переменных на основе IV

In [52]:
logging.info("Отбор переменных на основе IV >= 0.01.")
selected_vars_iv = iv_values_final[
    iv_values_final['info_value'] >= 0.01
]['variable'].tolist()

logging.info(f"Переменные с info_value >= 0.01: {selected_vars_iv}")

2024-12-05 16:55:17,113 - INFO - Отбор переменных на основе IV >= 0.01.
2024-12-05 16:55:17,117 - INFO - Переменные с info_value >= 0.01: ['gb_60ever', 'gb_cum_dlq_90', 'gb_90ever', 'additional_income', 'loan_amount', 'reported_expenses', 'net_main_income', 'months_at_job', 'deposit', 'bki_number_of_loans', 'months_with_bank', 'max_max_days_past_due', 'age', 'employment_segment', 'marital_status', 'months_at_current_address', 'client_type', 'bki_rating', 'customer_id', 'salary_payment_in_bank_account', 'region_of_living', 'dependants', 'region_of_registration', 'education', 'eskhata_online', 'gender', 'property_object', 'city_of_living_eq_registration', 'source_of_main_income', 'plastic_cards', 'previous_loans_count']

# Вычисление доли пропусков для отобранных переменных

In [53]:
logging.info("Расчет доли пропусков для отобранных переменных.")
# Рассчитываем долю пропусков для отобранных переменных
missing_rates = dev_final[selected_vars_iv].isnull().mean().reset_index()
missing_rates.columns = ['variable', 'missing']

2024-12-05 16:55:17,139 - INFO - Расчет доли пропусков для отобранных переменных.

In [54]:
# Просмотр первых строк
logging.info("Структура missing_rates:")
display(missing_rates.columns)

logging.info("Первые строк missing_rates:")
display(missing_rates)

2024-12-05 16:55:17,173 - INFO - Структура missing_rates:

Index(['variable', 'missing'], dtype='object')

2024-12-05 16:55:17,179 - INFO - Первые строк missing_rates:

                          variable   missing
0                        gb_60ever  0.000000
1                    gb_cum_dlq_90  0.000000
2                        gb_90ever  0.000000
3                additional_income  0.545382
4                      loan_amount  0.000000
5                reported_expenses  0.000000
6                  net_main_income  0.000053
7                    months_at_job  0.000000
8                          deposit  0.000000
9              bki_number_of_loans  0.000000
10                months_with_bank  0.000000
11           max_max_days_past_due  0.810580
12                             age  0.000000
13              employment_segment  0.000000
14                  marital_status  0.002019
15       months_at_current_address  0.000000
16                     client_type  0.000000
17                      bki_rating  0.616245
18                     customer_id  0.000000
19  salary_payment_in_bank_account  0.000000
20                region_of_living  0.000000
21                      dependants  0.000000
22          region_of_registration  0.000000
23                       education  0.060341
24                  eskhata_online  0.000000
25                          gender  0.000000
26                 property_object  0.000080
27  city_of_living_eq_registration  0.000000
28           source_of_main_income  0.003746
29                   plastic_cards  0.000000
30            previous_loans_count  0.000000

# Объединение IV и missing_rates

In [59]:
# Объединяем IV и по долю пропусков
iv_with_missing = iv_values_final.merge(missing_rates, on='variable')

# Просмотр первых строк
logging.info("Структура iv_with_missing:")
display(iv_with_missing.columns)

logging.info("iv_with_missing:")
display(iv_with_missing.head())

2024-12-05 16:55:17,382 - INFO - Структура iv_with_missing:

Index(['variable', 'info_value', 'missing'], dtype='object')

2024-12-05 16:55:17,388 - INFO - iv_with_missing:

            variable  info_value   missing
0          gb_60ever   17.210712  0.000000
1      gb_cum_dlq_90    7.762180  0.000000
2          gb_90ever    6.407824  0.000000
3  additional_income    2.209887  0.545382
4        loan_amount    1.865620  0.000000

# Фильтрация переменных по IV и пропускам

In [56]:
logging.info("Фильтрация переменных по info_value >= 0.01 и missing <= 0.95.")
# Отбор переменных с info_value >= 0.01 и пропусками <= 0.95
filtered_iv = iv_with_missing[
    (iv_with_missing['info_value'] >= 0.01) &
    (iv_with_missing['missing'] <= 0.95)
]

# Извлечение списка переменных
selected_vars_final = filtered_iv['variable'].tolist()

# Исключение определенных переменных
vars_to_remove = ["customer_id", "account_id", "gb_90ever", "gb_60ever", "gb_cum_dlq_90", "current_exposure"]
selected_vars_final = [var for var in selected_vars_final if var not in vars_to_remove]

logging.info(f"Отобранные переменные после фильтрации по IV и пропускам: {selected_vars_final}")

2024-12-05 16:55:17,270 - INFO - Фильтрация переменных по info_value >= 0.01 и missing <= 0.95.
2024-12-05 16:55:17,275 - INFO - Отобранные переменные после фильтрации по IV и пропускам: ['additional_income', 'loan_amount', 'reported_expenses', 'net_main_income', 'months_at_job', 'deposit', 'bki_number_of_loans', 'months_with_bank', 'max_max_days_past_due', 'age', 'employment_segment', 'marital_status', 'months_at_current_address', 'client_type', 'bki_rating', 'salary_payment_in_bank_account', 'region_of_living', 'dependants', 'region_of_registration', 'education', 'eskhata_online', 'gender', 'property_object', 'city_of_living_eq_registration', 'source_of_main_income', 'plastic_cards', 'previous_loans_count']

# Создание dev_final_sel

In [57]:
logging.info("Создание dev_final_sel с отобранными переменными.")
dev_final_sel = dev_final[selected_vars_final + ['gb']].copy()

logging.info(f"Количество строк в dev_final_sel: {dev_final_sel.shape[0]}")
logging.info(f"Количество столбцов в dev_final_sel: {dev_final_sel.shape[1]}")

2024-12-05 16:55:17,298 - INFO - Создание dev_final_sel с отобранными переменными.
2024-12-05 16:55:17,320 - INFO - Количество строк в dev_final_sel: 37636
2024-12-05 16:55:17,320 - INFO - Количество столбцов в dev_final_sel: 28

# Определение правил биннинга

In [58]:
logging.info("Определение правил биннинга для переменных.")

breaks = {
    'education': [
        "Высшее", "Ученая степень", "2 и более высших",
        "Среднее", "Начальное",
        "Среднее специальное",
        "Неоконченное высшее"
    ],
    'region_of_living': [
        "Вилояти Сугд", 
        "Вилояти Хатлон", "ВМКБ",
        "Душанбе", 
        "Нохияхои тобеи Чумхури"
    ],
    'marital_status': [
        "Женат", "Сожитель",
        "Замужем", "Вдова", "Разведена",
        "Холост", 
        "Не замужем", "Разведен"
    ],
    'employment_segment': [
        "Мед. работник", "Работник в сфере образования", "Экономист", "Работник НПО (Ташкилоти Чамъияти)",
        "Работник госструктур", "Строитель",
        "Работник производства", "Работник сельского хозяйство",
        "Работник частной организации"
    ],
    'source_of_main_income': [
        "Доход семьи",
        "Зарплата по основному месту работы",
        "Предпринимательство",
        "Пенсия", "Алименты", "Прочее", "missing"
    ],
    'months_at_job': [31, 61, 145, 277],
    'months_with_bank': [10, 25, 79],
    'net_main_income': ["missing", "1600", 3400]
}

2024-12-05 16:55:17,347 - INFO - Определение правил биннинга для переменных.

# Обработка пропусков в категориальных переменных: добавление категории 'missing'

In [60]:
logging.info("Обработка пропусков в категориальных переменных.")
for var in selected_vars_final:
    if dev_final_sel[var].dtype == 'object' or pd.api.types.is_categorical_dtype(dev_final_sel[var]):
        if dev_final_sel[var].isnull().any():
            dev_final_sel[var] = dev_final_sel[var].astype('category')
            if 'missing' not in dev_final_sel[var].cat.categories:
                dev_final_sel[var].cat.add_categories('missing', inplace=True)
            dev_final_sel[var].fillna('missing', inplace=True)

logging.info("Применение биннинга и расчет WOE на dev_final_sel.")
try:
    bins_final5_M1_Employee = sc.woebin(
        dt=dev_final_sel,
        y="gb",
        method="tree",
        breaks_list=breaks,
        check_cate_num=False,
        count_distr_limit=0.05,
        bin_num_limit=5
    )
    logging.info("Биннинг и расчет WOE выполнены успешно.")
except Exception as e:
    logging.error(f"Ошибка при биннинге и расчете WOE: {e}")
    raise

2024-12-05 16:57:18,394 - INFO - Обработка пропусков в категориальных переменных.
C:\Users\F_Jumaev\AppData\Local\Temp\ipykernel_16728\1224771141.py:7: FutureWarning: The `inplace` parameter in pandas.Categorical.add_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  dev_final_sel[var].cat.add_categories('missing', inplace=True)
C:\Users\F_Jumaev\AppData\Local\Temp\ipykernel_16728\1224771141.py:7: FutureWarning: The `inplace` parameter in pandas.Categorical.add_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  dev_final_sel[var].cat.add_categories('missing', inplace=True)
C:\Users\F_Jumaev\AppData\Local\Temp\ipykernel_16728\1224771141.py:7: FutureWarning: The `inplace` parameter in pandas.Categorical.add_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  dev_final_sel[var].cat.add_categories('missing', inplace=True)
C:\Users\F_Jumaev\AppData\Local\Temp\ipykernel_16728\1224771141.py:7: FutureWarning: The `inplace` parameter in pandas.Categorical.add_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  dev_final_sel[var].cat.add_categories('missing', inplace=True)
C:\Users\F_Jumaev\AppData\Local\Temp\ipykernel_16728\1224771141.py:7: FutureWarning: The `inplace` parameter in pandas.Categorical.add_categories is deprecated and will be removed in a future version. Removing unused categories will always return a new Categorical object.
  dev_final_sel[var].cat.add_categories('missing', inplace=True)
2024-12-05 16:57:18,419 - INFO - Применение биннинга и расчет WOE на dev_final_sel.

[INFO] creating woe binning ...

2024-12-05 16:57:41,426 - INFO - Биннинг и расчет WOE выполнены успешно.

Binning on 37636 rows and 28 columns in 00:00:23